Source: rust-proxmox-acme
Section: rust
Priority: optional
Build-Depends: debhelper-compat (= 13),
 dh-sequence-cargo
Build-Depends-Arch: cargo:native <!nocheck>,
 rustc:native <!nocheck>,
 libstd-rust-dev <!nocheck>,
 librust-base64-0.13+default-dev <!nocheck>,
 librust-openssl-0.10+default-dev <!nocheck>,
 librust-proxmox-schema-4+api-macro-dev <!nocheck>,
 librust-proxmox-schema-4+default-dev <!nocheck>,
 librust-serde-1+default-dev <!nocheck>,
 librust-serde-1+derive-dev <!nocheck>,
 librust-serde-json-1+default-dev <!nocheck>
Maintainer: Proxmox Support Team <support@proxmox.com>
Standards-Version: 4.7.0
Vcs-Git: 
Vcs-Browser: 
Homepage: https://proxmox.com
X-Cargo-Crate: proxmox-acme
Rules-Requires-Root: no

Package: librust-proxmox-acme-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-base64-0.13+default-dev,
 librust-serde-1+default-dev,
 librust-serde-1+derive-dev,
 librust-serde-json-1+default-dev
Recommends:
 librust-proxmox-acme+impl-dev (= ${binary:Version})
Suggests:
 librust-proxmox-acme+api-types-dev (= ${binary:Version}),
 librust-proxmox-acme+async-client-dev (= ${binary:Version}),
 librust-proxmox-acme+client-dev (= ${binary:Version})
Provides:
 librust-proxmox-acme-0-dev (= ${binary:Version}),
 librust-proxmox-acme-0.5-dev (= ${binary:Version}),
 librust-proxmox-acme-0.5.5-dev (= ${binary:Version})
Description: ACME client library - Rust source code
 Source code for Debianized Rust crate "proxmox-acme"

Package: librust-proxmox-acme+api-types-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-proxmox-acme-dev (= ${binary:Version}),
 librust-proxmox-schema-4+api-macro-dev,
 librust-proxmox-schema-4+default-dev
Provides:
 librust-proxmox-acme-0+api-types-dev (= ${binary:Version}),
 librust-proxmox-acme-0.5+api-types-dev (= ${binary:Version}),
 librust-proxmox-acme-0.5.5+api-types-dev (= ${binary:Version})
Description: ACME client library - feature "api-types"
 This metapackage enables feature "api-types" for the Rust proxmox-acme crate,
 by pulling in any additional dependencies needed by that feature.

Package: librust-proxmox-acme+async-client-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-proxmox-acme-dev (= ${binary:Version}),
 librust-proxmox-acme+impl-dev (= ${binary:Version}),
 librust-anyhow-1+default-dev,
 librust-bytes-1+default-dev,
 librust-hyper-0.14+default-dev (>= 0.14.5-~~),
 librust-proxmox-http-0.9+client-dev (>= 0.9.5-~~),
 librust-proxmox-http-0.9+default-dev (>= 0.9.5-~~)
Provides:
 librust-proxmox-acme-0+async-client-dev (= ${binary:Version}),
 librust-proxmox-acme-0.5+async-client-dev (= ${binary:Version}),
 librust-proxmox-acme-0.5.5+async-client-dev (= ${binary:Version})
Description: ACME client library - feature "async-client"
 This metapackage enables feature "async-client" for the Rust proxmox-acme
 crate, by pulling in any additional dependencies needed by that feature.

Package: librust-proxmox-acme+client-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-proxmox-acme-dev (= ${binary:Version}),
 librust-proxmox-acme+impl-dev (= ${binary:Version}),
 librust-native-tls-0.2+default-dev,
 librust-ureq-2+gzip-dev (>= 2.4-~~),
 librust-ureq-2+native-tls-dev (>= 2.4-~~)
Provides:
 librust-proxmox-acme-0+client-dev (= ${binary:Version}),
 librust-proxmox-acme-0.5+client-dev (= ${binary:Version}),
 librust-proxmox-acme-0.5.5+client-dev (= ${binary:Version})
Description: ACME client library - feature "client"
 This metapackage enables feature "client" for the Rust proxmox-acme crate, by
 pulling in any additional dependencies needed by that feature.

Package: librust-proxmox-acme+impl-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-proxmox-acme-dev (= ${binary:Version}),
 librust-proxmox-acme+api-types-dev (= ${binary:Version}),
 librust-openssl-0.10+default-dev
Provides:
 librust-proxmox-acme+default-dev (= ${binary:Version}),
 librust-proxmox-acme-0+impl-dev (= ${binary:Version}),
 librust-proxmox-acme-0+default-dev (= ${binary:Version}),
 librust-proxmox-acme-0.5+impl-dev (= ${binary:Version}),
 librust-proxmox-acme-0.5+default-dev (= ${binary:Version}),
 librust-proxmox-acme-0.5.5+impl-dev (= ${binary:Version}),
 librust-proxmox-acme-0.5.5+default-dev (= ${binary:Version})
Description: ACME client library - feature "impl" and 1 more
 This metapackage enables feature "impl" for the Rust proxmox-acme crate, by
 pulling in any additional dependencies needed by that feature.
 .
 Additionally, this package also provides the "default" feature.
