Source: rust-proxmox-acme
Section: rust
Priority: optional
Build-Depends: debhelper-compat (= 13),
 dh-sequence-cargo
Build-Depends-Arch: cargo:native <!nocheck>,
 rustc:native <!nocheck>,
 libstd-rust-dev <!nocheck>,
 librust-openssl-0.10+default-dev <!nocheck>,
 librust-proxmox-base64-1+default-dev <!nocheck>,
 librust-proxmox-base64-1+serde-dev <!nocheck>,
 librust-proxmox-schema-5+api-macro-dev (>= 5.0.1-~~) <!nocheck>,
 librust-proxmox-schema-5+default-dev (>= 5.0.1-~~) <!nocheck>,
 librust-serde-1+default-dev <!nocheck>,
 librust-serde-1+derive-dev <!nocheck>,
 librust-serde-json-1+default-dev <!nocheck>
Maintainer: Proxmox Support Team <support@proxmox.com>
Standards-Version: 4.7.2
Vcs-Git: 
Vcs-Browser: 
Homepage: https://proxmox.com
X-Cargo-Crate: proxmox-acme

Package: librust-proxmox-acme-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-proxmox-base64-1+default-dev,
 librust-proxmox-base64-1+serde-dev,
 librust-serde-1+default-dev,
 librust-serde-1+derive-dev,
 librust-serde-json-1+default-dev
Recommends:
 librust-proxmox-acme+impl-dev (= ${binary:Version})
Suggests:
 librust-proxmox-acme+api-types-dev (= ${binary:Version}),
 librust-proxmox-acme+async-client-dev (= ${binary:Version}),
 librust-proxmox-acme+client-dev (= ${binary:Version})
Provides:
 librust-proxmox-acme-1-dev (= ${binary:Version}),
 librust-proxmox-acme-1.0-dev (= ${binary:Version}),
 librust-proxmox-acme-1.0.3-dev (= ${binary:Version})
Description: ACME client library - Rust source code
 Source code for Debianized Rust crate "proxmox-acme"

Package: librust-proxmox-acme+api-types-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-proxmox-acme-dev (= ${binary:Version}),
 librust-proxmox-schema-5+api-macro-dev (>= 5.0.1-~~),
 librust-proxmox-schema-5+default-dev (>= 5.0.1-~~)
Provides:
 librust-proxmox-acme-1+api-types-dev (= ${binary:Version}),
 librust-proxmox-acme-1.0+api-types-dev (= ${binary:Version}),
 librust-proxmox-acme-1.0.3+api-types-dev (= ${binary:Version})
Description: ACME client library - feature "api-types"
 This metapackage enables feature "api-types" for the Rust proxmox-acme crate,
 by pulling in any additional dependencies needed by that feature.

Package: librust-proxmox-acme+async-client-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-proxmox-acme-dev (= ${binary:Version}),
 librust-proxmox-acme+impl-dev (= ${binary:Version}),
 librust-anyhow-1+default-dev,
 librust-bytes-1+default-dev,
 librust-http-body-util-0.1+default-dev,
 librust-hyper-1+default-dev,
 librust-proxmox-http-1+client-dev (>= 1.0.5-~~),
 librust-proxmox-http-1+default-dev (>= 1.0.5-~~)
Provides:
 librust-proxmox-acme-1+async-client-dev (= ${binary:Version}),
 librust-proxmox-acme-1.0+async-client-dev (= ${binary:Version}),
 librust-proxmox-acme-1.0.3+async-client-dev (= ${binary:Version})
Description: ACME client library - feature "async-client"
 This metapackage enables feature "async-client" for the Rust proxmox-acme
 crate, by pulling in any additional dependencies needed by that feature.

Package: librust-proxmox-acme+client-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-proxmox-acme-dev (= ${binary:Version}),
 librust-proxmox-acme+impl-dev (= ${binary:Version}),
 librust-http-1+default-dev,
 librust-ureq-3+gzip-dev,
 librust-ureq-3+native-tls-dev
Provides:
 librust-proxmox-acme-1+client-dev (= ${binary:Version}),
 librust-proxmox-acme-1.0+client-dev (= ${binary:Version}),
 librust-proxmox-acme-1.0.3+client-dev (= ${binary:Version})
Description: ACME client library - feature "client"
 This metapackage enables feature "client" for the Rust proxmox-acme crate, by
 pulling in any additional dependencies needed by that feature.

Package: librust-proxmox-acme+impl-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-proxmox-acme-dev (= ${binary:Version}),
 librust-proxmox-acme+api-types-dev (= ${binary:Version}),
 librust-openssl-0.10+default-dev
Provides:
 librust-proxmox-acme+default-dev (= ${binary:Version}),
 librust-proxmox-acme-1+impl-dev (= ${binary:Version}),
 librust-proxmox-acme-1+default-dev (= ${binary:Version}),
 librust-proxmox-acme-1.0+impl-dev (= ${binary:Version}),
 librust-proxmox-acme-1.0+default-dev (= ${binary:Version}),
 librust-proxmox-acme-1.0.3+impl-dev (= ${binary:Version}),
 librust-proxmox-acme-1.0.3+default-dev (= ${binary:Version})
Description: ACME client library - feature "impl" and 1 more
 This metapackage enables feature "impl" for the Rust proxmox-acme crate, by
 pulling in any additional dependencies needed by that feature.
 .
 Additionally, this package also provides the "default" feature.
