Source: rust-proxmox-compression
Section: rust
Priority: optional
Build-Depends: debhelper (>= 12),
 dh-cargo (>= 25),
 cargo:native <!nocheck>,
 rustc:native <!nocheck>,
 libstd-rust-dev <!nocheck>,
 librust-anyhow-1+default-dev <!nocheck>,
 librust-bytes-1+default-dev <!nocheck>,
 librust-crc32fast-1+default-dev <!nocheck>,
 librust-endian-trait-0.6+default-dev <!nocheck>,
 librust-flate2-1+default-dev <!nocheck>,
 librust-futures-0.3+default-dev <!nocheck>,
 librust-libc-0.2+default-dev (>= 0.2.107-~~) <!nocheck>,
 librust-proxmox-io-1+default-dev <!nocheck>,
 librust-proxmox-io-1+tokio-dev <!nocheck>,
 librust-proxmox-lang-1+default-dev (>= 1.1-~~) <!nocheck>,
 librust-proxmox-time-1+default-dev (>= 1.1.4-~~) <!nocheck>,
 librust-tar-0.4+default-dev <!nocheck>,
 librust-tokio-1+default-dev (>= 1.6-~~) <!nocheck>,
 librust-tokio-1+fs-dev (>= 1.6-~~) <!nocheck>,
 librust-tokio-1+io-util-dev (>= 1.6-~~) <!nocheck>,
 librust-walkdir-2+default-dev <!nocheck>,
 librust-zstd-0.6+bindgen-dev <!nocheck>,
 librust-zstd-0.6+default-dev <!nocheck>
Maintainer: Proxmox Support Team <support@proxmox.com>
Standards-Version: 4.6.1
Vcs-Git: git://git.proxmox.com/git/proxmox.git
Vcs-Browser: https://git.proxmox.com/?p=proxmox.git
X-Cargo-Crate: proxmox-compression
Rules-Requires-Root: no

Package: librust-proxmox-compression-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-anyhow-1+default-dev,
 librust-bytes-1+default-dev,
 librust-crc32fast-1+default-dev,
 librust-endian-trait-0.6+default-dev,
 librust-flate2-1+default-dev,
 librust-futures-0.3+default-dev,
 librust-libc-0.2+default-dev (>= 0.2.107-~~),
 librust-proxmox-io-1+default-dev,
 librust-proxmox-io-1+tokio-dev,
 librust-proxmox-lang-1+default-dev (>= 1.1-~~),
 librust-proxmox-time-1+default-dev (>= 1.1.4-~~),
 librust-tar-0.4+default-dev,
 librust-tokio-1+default-dev (>= 1.6-~~),
 librust-tokio-1+fs-dev (>= 1.6-~~),
 librust-tokio-1+io-util-dev (>= 1.6-~~),
 librust-walkdir-2+default-dev,
 librust-zstd-0.6+bindgen-dev,
 librust-zstd-0.6+default-dev
Provides:
 librust-proxmox-compression+default-dev (= ${binary:Version}),
 librust-proxmox-compression-0-dev (= ${binary:Version}),
 librust-proxmox-compression-0+default-dev (= ${binary:Version}),
 librust-proxmox-compression-0.1-dev (= ${binary:Version}),
 librust-proxmox-compression-0.1+default-dev (= ${binary:Version}),
 librust-proxmox-compression-0.1.2-dev (= ${binary:Version}),
 librust-proxmox-compression-0.1.2+default-dev (= ${binary:Version})
Description: Contains compression utilitites (such as an Zip Encoder for async rust) - Rust source code
 This package contains the source for the Rust proxmox-compression crate,
 packaged by debcargo for use with cargo and dh-cargo.
