Source: rust-proxmox-client
Section: rust
Priority: optional
Build-Depends: debhelper-compat (= 13),
 dh-sequence-cargo
Build-Depends-Arch: cargo:native <!nocheck>,
 rustc:native <!nocheck>,
 libstd-rust-dev <!nocheck>,
 librust-anyhow-1+default-dev <!nocheck>,
 librust-hex-0.4+default-dev <!nocheck>,
 librust-http-1+default-dev <!nocheck>,
 librust-http-body-util-0.1+default-dev <!nocheck>,
 librust-percent-encoding-2+default-dev (>= 2.1-~~) <!nocheck>,
 librust-proxmox-login-1+default-dev <!nocheck>,
 librust-proxmox-login-1+http-dev <!nocheck>,
 librust-proxmox-serde-1+default-dev <!nocheck>,
 librust-proxmox-serde-1+perl-dev <!nocheck>,
 librust-proxmox-serde-1+serde-json-dev <!nocheck>,
 librust-serde-1+default-dev <!nocheck>,
 librust-serde-json-1+default-dev <!nocheck>
Maintainer: Proxmox Support Team <support@proxmox.com>
Standards-Version: 4.7.2
Vcs-Git: git://git.proxmox.com/git/proxmox.git
Vcs-Browser: https://git.proxmox.com/?p=proxmox.git
Homepage: https://proxmox.com
X-Cargo-Crate: proxmox-client

Package: librust-proxmox-client-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-anyhow-1+default-dev,
 librust-hex-0.4+default-dev,
 librust-http-1+default-dev,
 librust-http-body-util-0.1+default-dev,
 librust-percent-encoding-2+default-dev (>= 2.1-~~),
 librust-proxmox-login-1+default-dev,
 librust-proxmox-login-1+http-dev,
 librust-proxmox-serde-1+default-dev,
 librust-proxmox-serde-1+perl-dev,
 librust-proxmox-serde-1+serde-json-dev,
 librust-serde-1+default-dev,
 librust-serde-json-1+default-dev
Suggests:
 librust-proxmox-client+hyper-client-dev (= ${binary:Version}),
 librust-proxmox-client+webauthn-dev (= ${binary:Version})
Provides:
 librust-proxmox-client+default-dev (= ${binary:Version}),
 librust-proxmox-client+perl-api-path-builder-dev (= ${binary:Version}),
 librust-proxmox-client-1-dev (= ${binary:Version}),
 librust-proxmox-client-1+default-dev (= ${binary:Version}),
 librust-proxmox-client-1+perl-api-path-builder-dev (= ${binary:Version}),
 librust-proxmox-client-1.0-dev (= ${binary:Version}),
 librust-proxmox-client-1.0+default-dev (= ${binary:Version}),
 librust-proxmox-client-1.0+perl-api-path-builder-dev (= ${binary:Version}),
 librust-proxmox-client-1.0.1-dev (= ${binary:Version}),
 librust-proxmox-client-1.0.1+default-dev (= ${binary:Version}),
 librust-proxmox-client-1.0.1+perl-api-path-builder-dev (= ${binary:Version})
Description: Base client for proxmox APIs for handling login and ticket renewal - Rust source code
 Source code for Debianized Rust crate "proxmox-client"

Package: librust-proxmox-client+hyper-client-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-proxmox-client-dev (= ${binary:Version}),
 librust-hyper-1+default-dev,
 librust-log-0.4+default-dev (>= 0.4.17-~~),
 librust-openssl-0.10+default-dev,
 librust-proxmox-http-1+client-dev (>= 1.0.5-~~),
 librust-proxmox-http-1+default-dev (>= 1.0.5-~~)
Provides:
 librust-proxmox-client-1+hyper-client-dev (= ${binary:Version}),
 librust-proxmox-client-1.0+hyper-client-dev (= ${binary:Version}),
 librust-proxmox-client-1.0.1+hyper-client-dev (= ${binary:Version})
Description: Base client for proxmox APIs for handling login and ticket renewal - feature "hyper-client"
 This metapackage enables feature "hyper-client" for the Rust proxmox-client
 crate, by pulling in any additional dependencies needed by that feature.

Package: librust-proxmox-client+webauthn-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-proxmox-client-dev (= ${binary:Version}),
 librust-proxmox-login-1+http-dev,
 librust-proxmox-login-1+webauthn-dev
Provides:
 librust-proxmox-client-1+webauthn-dev (= ${binary:Version}),
 librust-proxmox-client-1.0+webauthn-dev (= ${binary:Version}),
 librust-proxmox-client-1.0.1+webauthn-dev (= ${binary:Version})
Description: Base client for proxmox APIs for handling login and ticket renewal - feature "webauthn"
 This metapackage enables feature "webauthn" for the Rust proxmox-client crate,
 by pulling in any additional dependencies needed by that feature.
