Source: rust-proxmox-access-control
Section: rust
Priority: optional
Build-Depends: debhelper-compat (= 13),
 dh-sequence-cargo
Build-Depends-Arch: cargo:native <!nocheck>,
 rustc:native (>= 1.82) <!nocheck>,
 libstd-rust-dev <!nocheck>,
 librust-anyhow-1+default-dev <!nocheck>,
 librust-proxmox-auth-api-1+api-types-dev <!nocheck>,
 librust-proxmox-auth-api-1+default-dev <!nocheck>,
 librust-proxmox-schema-4+default-dev (>= 4.1.0-~~) <!nocheck>,
 librust-proxmox-time-2+default-dev (>= 2.1.0-~~) <!nocheck>,
 librust-serde-1+default-dev <!nocheck>
Maintainer: Proxmox Support Team <support@proxmox.com>
Standards-Version: 4.7.0
Vcs-Git: git://git.proxmox.com/git/proxmox.git
Vcs-Browser: https://git.proxmox.com/?p=proxmox.git
Homepage: https://proxmox.com
X-Cargo-Crate: proxmox-access-control
Rules-Requires-Root: no

Package: librust-proxmox-access-control-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-anyhow-1+default-dev,
 librust-proxmox-auth-api-1+api-types-dev,
 librust-proxmox-auth-api-1+default-dev,
 librust-proxmox-schema-4+default-dev (>= 4.1.0-~~),
 librust-proxmox-time-2+default-dev (>= 2.1.0-~~),
 librust-serde-1+default-dev
Suggests:
 librust-proxmox-access-control+impl-dev (= ${binary:Version})
Provides:
 librust-proxmox-access-control+default-dev (= ${binary:Version}),
 librust-proxmox-access-control-0-dev (= ${binary:Version}),
 librust-proxmox-access-control-0+default-dev (= ${binary:Version}),
 librust-proxmox-access-control-0.2-dev (= ${binary:Version}),
 librust-proxmox-access-control-0.2+default-dev (= ${binary:Version}),
 librust-proxmox-access-control-0.2.5-dev (= ${binary:Version}),
 librust-proxmox-access-control-0.2.5+default-dev (= ${binary:Version})
Description: Collection of utilities to implement access control management - Rust source code
 Source code for Debianized Rust crate "proxmox-access-control"

Package: librust-proxmox-access-control+impl-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-proxmox-access-control-dev (= ${binary:Version}),
 librust-nix-0.29+default-dev,
 librust-openssl-0.10+default-dev,
 librust-proxmox-config-digest-1+default-dev,
 librust-proxmox-config-digest-1+openssl-dev,
 librust-proxmox-product-config-1+default-dev,
 librust-proxmox-router-3+default-dev (>= 3.2.0-~~),
 librust-proxmox-section-config-3+default-dev (>= 3.1.0-~~),
 librust-proxmox-shared-memory-1+default-dev,
 librust-proxmox-sys-1+crypt-dev,
 librust-proxmox-sys-1+default-dev,
 librust-serde-json-1+default-dev
Provides:
 librust-proxmox-access-control-0+impl-dev (= ${binary:Version}),
 librust-proxmox-access-control-0.2+impl-dev (= ${binary:Version}),
 librust-proxmox-access-control-0.2.5+impl-dev (= ${binary:Version})
Description: Collection of utilities to implement access control management - feature "impl"
 This metapackage enables feature "impl" for the Rust proxmox-access-control
 crate, by pulling in any additional dependencies needed by that feature.
