[package]
name = "proxmox-upgrade-checks"
description = "Helpers to implement checks to help with (major) upgrades of Proxmox products."
version = "1.0.0"

authors.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
homepage.workspace = true
exclude.workspace = true
rust-version.workspace = true

[dependencies]
anyhow.workspace = true
const_format.workspace = true
regex.workspace = true
termcolor.workspace = true

proxmox-apt = { workspace = true, features = [ "cache" ] }
proxmox-apt-api-types.workspace = true
