Source: rust-proxmox-network-api
Section: rust
Priority: optional
Build-Depends: debhelper-compat (= 13),
 dh-sequence-cargo
Build-Depends-Arch: cargo:native <!nocheck>,
 rustc:native (>= 1.82) <!nocheck>,
 libstd-rust-dev <!nocheck>,
 librust-anyhow-1+default-dev <!nocheck>,
 librust-const-format-0.2+default-dev <!nocheck>,
 librust-proxmox-network-types-0.1+default-dev <!nocheck>,
 librust-proxmox-schema-4+api-macro-dev (>= 4.1.0-~~) <!nocheck>,
 librust-proxmox-schema-4+api-types-dev (>= 4.1.0-~~) <!nocheck>,
 librust-proxmox-schema-4+default-dev (>= 4.1.0-~~) <!nocheck>,
 librust-regex-1+default-dev (>= 1.5-~~) <!nocheck>,
 librust-serde-1+default-dev <!nocheck>,
 librust-serde-1+derive-dev <!nocheck>,
 librust-serde-json-1+default-dev <!nocheck>
Maintainer: Proxmox Support Team <support@proxmox.com>
Standards-Version: 4.7.0
Vcs-Git: git://git.proxmox.com/git/proxmox.git
Vcs-Browser: https://git.proxmox.com/?p=proxmox.git
Homepage: https://proxmox.com
X-Cargo-Crate: proxmox-network-api
Rules-Requires-Root: no

Package: librust-proxmox-network-api-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-anyhow-1+default-dev,
 librust-const-format-0.2+default-dev,
 librust-proxmox-network-types-0.1+default-dev,
 librust-proxmox-schema-4+api-macro-dev (>= 4.1.0-~~),
 librust-proxmox-schema-4+api-types-dev (>= 4.1.0-~~),
 librust-proxmox-schema-4+default-dev (>= 4.1.0-~~),
 librust-regex-1+default-dev (>= 1.5-~~),
 librust-serde-1+default-dev,
 librust-serde-1+derive-dev,
 librust-serde-json-1+default-dev
Suggests:
 librust-proxmox-network-api+impl-dev (= ${binary:Version})
Provides:
 librust-proxmox-network-api+default-dev (= ${binary:Version}),
 librust-proxmox-network-api-1-dev (= ${binary:Version}),
 librust-proxmox-network-api-1+default-dev (= ${binary:Version}),
 librust-proxmox-network-api-1.0-dev (= ${binary:Version}),
 librust-proxmox-network-api-1.0+default-dev (= ${binary:Version}),
 librust-proxmox-network-api-1.0.1-dev (= ${binary:Version}),
 librust-proxmox-network-api-1.0.1+default-dev (= ${binary:Version})
Description: Network Management API implementation - Rust source code
 Source code for Debianized Rust crate "proxmox-network-api"

Package: librust-proxmox-network-api+impl-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-proxmox-network-api-dev (= ${binary:Version}),
 librust-libc-0.2+default-dev (>= 0.2.107-~~),
 librust-nix-0.29+default-dev,
 librust-proxmox-config-digest-1+default-dev,
 librust-proxmox-config-digest-1+openssl-dev,
 librust-proxmox-product-config-1+default-dev,
 librust-proxmox-sys-1+default-dev
Provides:
 librust-proxmox-network-api-1+impl-dev (= ${binary:Version}),
 librust-proxmox-network-api-1.0+impl-dev (= ${binary:Version}),
 librust-proxmox-network-api-1.0.1+impl-dev (= ${binary:Version})
Description: Network Management API implementation - feature "impl"
 This metapackage enables feature "impl" for the Rust proxmox-network-api crate,
 by pulling in any additional dependencies needed by that feature.
