Source: rust-proxmox-human-byte
Section: rust
Priority: optional
Build-Depends: debhelper-compat (= 13),
 dh-sequence-cargo
Build-Depends-Arch: cargo:native <!nocheck>,
 rustc:native <!nocheck>,
 libstd-rust-dev <!nocheck>,
 librust-anyhow-1+default-dev <!nocheck>,
 librust-proxmox-schema-5+api-macro-dev <!nocheck>,
 librust-proxmox-schema-5+default-dev <!nocheck>,
 librust-proxmox-serde-1+default-dev <!nocheck>,
 librust-proxmox-serde-1+serde-json-dev <!nocheck>,
 librust-serde-1+default-dev <!nocheck>
Maintainer: Proxmox Support Team <support@proxmox.com>
Standards-Version: 4.7.2
Vcs-Git: git://git.proxmox.com/git/proxmox.git
Vcs-Browser: https://git.proxmox.com/?p=proxmox.git
Homepage: https://proxmox.com
X-Cargo-Crate: proxmox-human-byte
Rules-Requires-Root: no

Package: librust-proxmox-human-byte-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-anyhow-1+default-dev,
 librust-proxmox-schema-5+api-macro-dev,
 librust-proxmox-schema-5+default-dev,
 librust-proxmox-serde-1+default-dev,
 librust-proxmox-serde-1+serde-json-dev,
 librust-serde-1+default-dev
Provides:
 librust-proxmox-human-byte+default-dev (= ${binary:Version}),
 librust-proxmox-human-byte-1-dev (= ${binary:Version}),
 librust-proxmox-human-byte-1+default-dev (= ${binary:Version}),
 librust-proxmox-human-byte-1.0-dev (= ${binary:Version}),
 librust-proxmox-human-byte-1.0+default-dev (= ${binary:Version}),
 librust-proxmox-human-byte-1.0.1-dev (= ${binary:Version}),
 librust-proxmox-human-byte-1.0.1+default-dev (= ${binary:Version})
Description: Proxmox library for formatting byte sizes (IEC or SI) - Rust source code
 Source code for Debianized Rust crate "proxmox-human-byte"
