Source: rust-proxmox-time
Section: rust
Priority: optional
Build-Depends: debhelper (>= 12),
 dh-cargo (>= 25),
 cargo:native <!nocheck>,
 rustc:native <!nocheck>,
 libstd-rust-dev <!nocheck>,
 librust-anyhow-1+default-dev <!nocheck>,
 librust-bitflags-1+default-dev (>= 1.2.1-~~) <!nocheck>,
 librust-js-sys-0.3+default-dev (>= 0.3.55-~~) <!nocheck>,
 librust-lazy-static-1+default-dev (>= 1.4-~~) <!nocheck>,
 librust-libc-0.2+default-dev (>= 0.2.107-~~) <!nocheck>,
 librust-libc-0.2+extra-traits-dev (>= 0.2.107-~~) <!nocheck>,
 librust-nom-7+default-dev <!nocheck>
Maintainer: Proxmox Support Team <support@proxmox.com>
Standards-Version: 4.6.1
Vcs-Git: git://git.proxmox.com/git/proxmox.git
Vcs-Browser: https://git.proxmox.com/?p=proxmox.git
X-Cargo-Crate: proxmox-time
Rules-Requires-Root: no

Package: librust-proxmox-time-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-anyhow-1+default-dev,
 librust-bitflags-1+default-dev (>= 1.2.1-~~),
 librust-js-sys-0.3+default-dev (>= 0.3.55-~~),
 librust-lazy-static-1+default-dev (>= 1.4-~~),
 librust-libc-0.2+default-dev (>= 0.2.107-~~),
 librust-libc-0.2+extra-traits-dev (>= 0.2.107-~~),
 librust-nom-7+default-dev
Provides:
 librust-proxmox-time+default-dev (= ${binary:Version}),
 librust-proxmox-time-1-dev (= ${binary:Version}),
 librust-proxmox-time-1+default-dev (= ${binary:Version}),
 librust-proxmox-time-1.1-dev (= ${binary:Version}),
 librust-proxmox-time-1.1+default-dev (= ${binary:Version}),
 librust-proxmox-time-1.1.4-dev (= ${binary:Version}),
 librust-proxmox-time-1.1.4+default-dev (= ${binary:Version})
Description: Time utilities and TmEditor - Rust source code
 This package contains the source for the Rust proxmox-time crate, packaged by
 debcargo for use with cargo and dh-cargo.
