Source: rust-proxmox-api-macro
Section: rust
Priority: optional
Build-Depends: debhelper (>= 12),
 dh-cargo (>= 24),
 cargo:native <!nocheck>,
 rustc:native <!nocheck>,
 libstd-rust-dev <!nocheck>,
 librust-anyhow-1+default-dev <!nocheck>,
 librust-proc-macro2-1+default-dev <!nocheck>,
 librust-quote-1+default-dev <!nocheck>,
 librust-syn-1+default-dev <!nocheck>,
 librust-syn-1+extra-traits-dev <!nocheck>,
 librust-syn-1+full-dev <!nocheck>,
 librust-syn-1+visit-mut-dev <!nocheck>
Maintainer: Proxmox Support Team <support@proxmox.com>
Standards-Version: 4.5.1
Vcs-Git: git://git.proxmox.com/git/proxmox.git
Vcs-Browser: https://git.proxmox.com/?p=proxmox.git
Rules-Requires-Root: no

Package: librust-proxmox-api-macro-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-anyhow-1+default-dev,
 librust-proc-macro2-1+default-dev,
 librust-quote-1+default-dev,
 librust-syn-1+default-dev,
 librust-syn-1+extra-traits-dev,
 librust-syn-1+full-dev,
 librust-syn-1+visit-mut-dev
Provides:
 librust-proxmox-api-macro+default-dev (= ${binary:Version}),
 librust-proxmox-api-macro-0-dev (= ${binary:Version}),
 librust-proxmox-api-macro-0+default-dev (= ${binary:Version}),
 librust-proxmox-api-macro-0.3-dev (= ${binary:Version}),
 librust-proxmox-api-macro-0.3+default-dev (= ${binary:Version}),
 librust-proxmox-api-macro-0.3.4-dev (= ${binary:Version}),
 librust-proxmox-api-macro-0.3.4+default-dev (= ${binary:Version})
Description: Proxmox API macro - Rust source code
 This package contains the source for the Rust proxmox-api-macro crate, packaged
 by debcargo for use with cargo and dh-cargo.
