[package]
name = "proxmox-syslog-api"
description = "Syslog Management API implementation"
version = "1.0.0"

authors.workspace = true
edition.workspace = true
exclude.workspace = true
homepage.workspace = true
license.workspace = true
repository.workspace = true
rust-version.workspace = true

[dependencies]
anyhow.workspace = true

serde = { workspace = true, features = ["derive"] }
log = { workspace = true, optional = true }

proxmox-schema = { workspace = true, features = ["api-macro", "api-types"] }

[features]
default = []
impl = ["dep:log"]
