Source: rust-proxmox-systemd
Section: rust
Priority: optional
Build-Depends: debhelper (>= 12),
 dh-cargo (>= 25),
 cargo:native <!nocheck>,
 rustc:native <!nocheck>,
 libstd-rust-dev <!nocheck>,
 librust-libc-0.2+default-dev (>= 0.2.107-~~) <!nocheck>,
 libsystemd-dev <!nocheck>
Maintainer: Proxmox Support Team <support@proxmox.com>
Standards-Version: 4.6.2
Vcs-Git: git://git.proxmox.com/git/proxmox.git
Vcs-Browser: https://git.proxmox.com/?p=proxmox.git
X-Cargo-Crate: proxmox-systemd
Rules-Requires-Root: no

Package: librust-proxmox-systemd-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-libc-0.2+default-dev (>= 0.2.107-~~),
 libsystemd-dev
Provides:
 librust-proxmox-systemd+default-dev (= ${binary:Version}),
 librust-proxmox-systemd-0-dev (= ${binary:Version}),
 librust-proxmox-systemd-0+default-dev (= ${binary:Version}),
 librust-proxmox-systemd-0.1-dev (= ${binary:Version}),
 librust-proxmox-systemd-0.1+default-dev (= ${binary:Version}),
 librust-proxmox-systemd-0.1.0-dev (= ${binary:Version}),
 librust-proxmox-systemd-0.1.0+default-dev (= ${binary:Version})
Description: Utilities for dealing with systemd unit files and communicating with systemd - Rust source code
 Source code for Debianized Rust crate "proxmox-systemd"
