Source: rust-proxmox-rrd
Section: rust
Priority: optional
Build-Depends: debhelper-compat (= 13),
 dh-sequence-cargo
Build-Depends-Arch: cargo:native <!nocheck>,
 rustc:native <!nocheck>,
 libstd-rust-dev <!nocheck>,
 librust-anyhow-1+default-dev <!nocheck>,
 librust-bitflags-2+default-dev (>= 2.4-~~) <!nocheck>,
 librust-crossbeam-channel-0.5+default-dev <!nocheck>,
 librust-log-0.4+default-dev (>= 0.4.17-~~) <!nocheck>,
 librust-nix-0.29+default-dev <!nocheck>,
 librust-proxmox-schema-5+api-macro-dev <!nocheck>,
 librust-proxmox-schema-5+default-dev <!nocheck>,
 librust-proxmox-sys-1+default-dev <!nocheck>,
 librust-proxmox-time-2+default-dev (>= 2.1.0-~~) <!nocheck>,
 librust-serde-1+default-dev <!nocheck>,
 librust-serde-1+derive-dev <!nocheck>,
 librust-serde-cbor-0.11+default-dev (>= 0.11.1-~~) <!nocheck>,
 librust-serde-json-1+default-dev <!nocheck>,
 librust-serde-plain-1+default-dev <!nocheck>
Maintainer: Proxmox Support Team <support@proxmox.com>
Standards-Version: 4.7.2
Vcs-Git: git://git.proxmox.com/git/proxmox.git
Vcs-Browser: https://git.proxmox.com/?p=proxmox.git
Homepage: https://proxmox.com
X-Cargo-Crate: proxmox-rrd
Rules-Requires-Root: no

Package: librust-proxmox-rrd-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-anyhow-1+default-dev,
 librust-bitflags-2+default-dev (>= 2.4-~~),
 librust-crossbeam-channel-0.5+default-dev,
 librust-log-0.4+default-dev (>= 0.4.17-~~),
 librust-nix-0.29+default-dev,
 librust-proxmox-schema-5+api-macro-dev,
 librust-proxmox-schema-5+default-dev,
 librust-proxmox-sys-1+default-dev,
 librust-proxmox-time-2+default-dev (>= 2.1.0-~~),
 librust-serde-1+default-dev,
 librust-serde-1+derive-dev,
 librust-serde-cbor-0.11+default-dev (>= 0.11.1-~~),
 librust-serde-json-1+default-dev,
 librust-serde-plain-1+default-dev
Provides:
 librust-proxmox-rrd+default-dev (= ${binary:Version}),
 librust-proxmox-rrd+rrd-v1-dev (= ${binary:Version}),
 librust-proxmox-rrd-1-dev (= ${binary:Version}),
 librust-proxmox-rrd-1+default-dev (= ${binary:Version}),
 librust-proxmox-rrd-1+rrd-v1-dev (= ${binary:Version}),
 librust-proxmox-rrd-1.0-dev (= ${binary:Version}),
 librust-proxmox-rrd-1.0+default-dev (= ${binary:Version}),
 librust-proxmox-rrd-1.0+rrd-v1-dev (= ${binary:Version}),
 librust-proxmox-rrd-1.0.1-dev (= ${binary:Version}),
 librust-proxmox-rrd-1.0.1+default-dev (= ${binary:Version}),
 librust-proxmox-rrd-1.0.1+rrd-v1-dev (= ${binary:Version})
Description: Simple RRD database implementation - Rust source code
 Source code for Debianized Rust crate "proxmox-rrd"
