Source: rust-proxmox-shared-cache
Section: rust
Priority: optional
Build-Depends: debhelper-compat (= 13),
 dh-sequence-cargo
Build-Depends-Arch: cargo:native <!nocheck>,
 rustc:native <!nocheck>,
 libstd-rust-dev <!nocheck>,
 librust-anyhow-1+default-dev <!nocheck>,
 librust-nix-0.29+default-dev <!nocheck>,
 librust-proxmox-sys-1+default-dev <!nocheck>,
 librust-proxmox-sys-1+timer-dev <!nocheck>,
 librust-serde-1+default-dev <!nocheck>,
 librust-serde-1+derive-dev <!nocheck>,
 librust-serde-json-1+default-dev <!nocheck>,
 librust-serde-json-1+raw-value-dev <!nocheck>
Maintainer: Proxmox Support Team <support@proxmox.com>
Standards-Version: 4.7.2
Vcs-Git: https://salsa.debian.org/rust-team/debcargo-conf.git [src/proxmox-shared-cache]
Vcs-Browser: https://salsa.debian.org/rust-team/debcargo-conf/tree/master/src/proxmox-shared-cache
Homepage: https://proxmox.com
X-Cargo-Crate: proxmox-shared-cache
Rules-Requires-Root: no

Package: librust-proxmox-shared-cache-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-anyhow-1+default-dev,
 librust-nix-0.29+default-dev,
 librust-proxmox-sys-1+default-dev,
 librust-proxmox-sys-1+timer-dev,
 librust-serde-1+default-dev,
 librust-serde-1+derive-dev,
 librust-serde-json-1+default-dev,
 librust-serde-json-1+raw-value-dev
Provides:
 librust-proxmox-shared-cache+default-dev (= ${binary:Version}),
 librust-proxmox-shared-cache-1-dev (= ${binary:Version}),
 librust-proxmox-shared-cache-1+default-dev (= ${binary:Version}),
 librust-proxmox-shared-cache-1.0-dev (= ${binary:Version}),
 librust-proxmox-shared-cache-1.0+default-dev (= ${binary:Version}),
 librust-proxmox-shared-cache-1.0.0-dev (= ${binary:Version}),
 librust-proxmox-shared-cache-1.0.0+default-dev (= ${binary:Version})
Description: Cache that can be used from multiple processes simultaneously - Rust source code
 Source code for Debianized Rust crate "proxmox-shared-cache"
