Source: rust-proxmox-uuid
Section: rust
Priority: optional
Build-Depends: debhelper-compat (= 13),
 dh-sequence-cargo
Build-Depends-Arch: cargo:native <!nocheck>,
 rustc:native <!nocheck>,
 libstd-rust-dev <!nocheck>,
 librust-js-sys-0.3+default-dev (>= 0.3.55-~~) <!nocheck>,
 uuid-dev <!nocheck>
Maintainer: Proxmox Support Team <support@proxmox.com>
Standards-Version: 4.7.2
Vcs-Git: git://git.proxmox.com/git/proxmox.git
Vcs-Browser: https://git.proxmox.com/?p=proxmox.git
Homepage: https://proxmox.com
X-Cargo-Crate: proxmox-uuid

Package: librust-proxmox-uuid-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-js-sys-0.3+default-dev (>= 0.3.55-~~),
 uuid-dev
Suggests:
 librust-proxmox-uuid+serde-dev (= ${binary:Version})
Provides:
 librust-proxmox-uuid+default-dev (= ${binary:Version}),
 librust-proxmox-uuid-1-dev (= ${binary:Version}),
 librust-proxmox-uuid-1+default-dev (= ${binary:Version}),
 librust-proxmox-uuid-1.1-dev (= ${binary:Version}),
 librust-proxmox-uuid-1.1+default-dev (= ${binary:Version}),
 librust-proxmox-uuid-1.1.0-dev (= ${binary:Version}),
 librust-proxmox-uuid-1.1.0+default-dev (= ${binary:Version})
Description: Bindings for libuuid with optional serde support - Rust source code
 Source code for Debianized Rust crate "proxmox-uuid"

Package: librust-proxmox-uuid+serde-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-proxmox-uuid-dev (= ${binary:Version}),
 librust-serde-1+default-dev
Provides:
 librust-proxmox-uuid-1+serde-dev (= ${binary:Version}),
 librust-proxmox-uuid-1.1+serde-dev (= ${binary:Version}),
 librust-proxmox-uuid-1.1.0+serde-dev (= ${binary:Version})
Description: Bindings for libuuid with optional serde support - feature "serde"
 This metapackage enables feature "serde" for the Rust proxmox-uuid crate, by
 pulling in any additional dependencies needed by that feature.
