Source: rust-proxmox-apt
Section: rust
Priority: optional
Build-Depends: debhelper (>= 12),
 dh-cargo (>= 25),
 cargo:native <!nocheck>,
 rustc:native <!nocheck>,
 libstd-rust-dev <!nocheck>,
 librust-anyhow-1+default-dev <!nocheck>,
 librust-hex-0.4+default-dev <!nocheck>,
 librust-once-cell-1+default-dev (>= 1.3.1-~~) <!nocheck>,
 librust-openssl-0.10+default-dev <!nocheck>,
 librust-proxmox-schema-2+api-macro-dev <!nocheck>,
 librust-proxmox-schema-2+default-dev <!nocheck>,
 librust-rfc822-like-0.2+default-dev (>= 0.2.1-~~) <!nocheck>,
 librust-serde-1+default-dev <!nocheck>,
 librust-serde-1+derive-dev <!nocheck>,
 librust-serde-json-1+default-dev <!nocheck>
Maintainer: Proxmox Support Team <support@proxmox.com>
Standards-Version: 4.6.1
Vcs-Git: git://git.proxmox.com/git/proxmox-apt.git
Vcs-Browser: https://git.proxmox.com/?p=proxmox-apt.git
Homepage: https://proxmox.com
X-Cargo-Crate: proxmox-apt
Rules-Requires-Root: no

Package: librust-proxmox-apt-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-anyhow-1+default-dev,
 librust-hex-0.4+default-dev,
 librust-once-cell-1+default-dev (>= 1.3.1-~~),
 librust-openssl-0.10+default-dev,
 librust-proxmox-schema-2+api-macro-dev,
 librust-proxmox-schema-2+default-dev,
 librust-rfc822-like-0.2+default-dev (>= 0.2.1-~~),
 librust-serde-1+default-dev,
 librust-serde-1+derive-dev,
 librust-serde-json-1+default-dev
Provides:
 librust-proxmox-apt+default-dev (= ${binary:Version}),
 librust-proxmox-apt-0-dev (= ${binary:Version}),
 librust-proxmox-apt-0+default-dev (= ${binary:Version}),
 librust-proxmox-apt-0.10-dev (= ${binary:Version}),
 librust-proxmox-apt-0.10+default-dev (= ${binary:Version}),
 librust-proxmox-apt-0.10.4-dev (= ${binary:Version}),
 librust-proxmox-apt-0.10.4+default-dev (= ${binary:Version})
Description: Proxmox library for APT - Rust source code
 This package contains the source for the Rust proxmox-apt crate, packaged by
 debcargo for use with cargo and dh-cargo.
