Source: rust-proxmox-http
Section: rust
Priority: optional
Build-Depends: debhelper (>= 11),
 dh-cargo (>= 18),
 cargo:native <!nocheck>,
 rustc:native <!nocheck>,
 libstd-rust-dev <!nocheck>,
 librust-anyhow-1+default-dev <!nocheck>
Maintainer: Proxmox Support Team <support@proxmox.com>
Standards-Version: 4.4.1
Vcs-Git: git://git.proxmox.com/git/proxmox.git
Vcs-Browser: https://git.proxmox.com/?p=proxmox.git

Package: librust-proxmox-http-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-anyhow-1+default-dev
Suggests:
 librust-proxmox-http+base64-dev (= ${binary:Version}),
 librust-proxmox-http+client-dev (= ${binary:Version}),
 librust-proxmox-http+futures-dev (= ${binary:Version}),
 librust-proxmox-http+http-dev (= ${binary:Version}),
 librust-proxmox-http+http-helpers-dev (= ${binary:Version}),
 librust-proxmox-http+hyper-dev (= ${binary:Version}),
 librust-proxmox-http+openssl-dev (= ${binary:Version}),
 librust-proxmox-http+proxmox-dev (= ${binary:Version}),
 librust-proxmox-http+tokio-dev (= ${binary:Version}),
 librust-proxmox-http+tokio-openssl-dev (= ${binary:Version}),
 librust-proxmox-http+websocket-dev (= ${binary:Version})
Provides:
 librust-proxmox-http+default-dev (= ${binary:Version}),
 librust-proxmox-http-0-dev (= ${binary:Version}),
 librust-proxmox-http-0+default-dev (= ${binary:Version}),
 librust-proxmox-http-0.2-dev (= ${binary:Version}),
 librust-proxmox-http-0.2+default-dev (= ${binary:Version}),
 librust-proxmox-http-0.2.0-dev (= ${binary:Version}),
 librust-proxmox-http-0.2.0+default-dev (= ${binary:Version})
Description: Proxmox HTTP library - Rust source code
 This package contains the source for the Rust proxmox-http crate, packaged by
 debcargo for use with cargo and dh-cargo.

Package: librust-proxmox-http+base64-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-proxmox-http-dev (= ${binary:Version}),
 librust-base64-0.12+default-dev
Provides:
 librust-proxmox-http-0+base64-dev (= ${binary:Version}),
 librust-proxmox-http-0.2+base64-dev (= ${binary:Version}),
 librust-proxmox-http-0.2.0+base64-dev (= ${binary:Version})
Description: Proxmox HTTP library - feature "base64"
 This metapackage enables feature "base64" for the Rust proxmox-http crate, by
 pulling in any additional dependencies needed by that feature.

Package: librust-proxmox-http+client-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-proxmox-http-dev (= ${binary:Version}),
 librust-proxmox-http+http-helpers-dev (= ${binary:Version}),
 librust-futures-0.3+default-dev,
 librust-openssl-0.10+default-dev
Provides:
 librust-proxmox-http-0+client-dev (= ${binary:Version}),
 librust-proxmox-http-0.2+client-dev (= ${binary:Version}),
 librust-proxmox-http-0.2.0+client-dev (= ${binary:Version})
Description: Proxmox HTTP library - feature "client"
 This metapackage enables feature "client" for the Rust proxmox-http crate, by
 pulling in any additional dependencies needed by that feature.

Package: librust-proxmox-http+futures-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-proxmox-http-dev (= ${binary:Version}),
 librust-futures-0.3+default-dev
Provides:
 librust-proxmox-http-0+futures-dev (= ${binary:Version}),
 librust-proxmox-http-0.2+futures-dev (= ${binary:Version}),
 librust-proxmox-http-0.2.0+futures-dev (= ${binary:Version})
Description: Proxmox HTTP library - feature "futures"
 This metapackage enables feature "futures" for the Rust proxmox-http crate, by
 pulling in any additional dependencies needed by that feature.

Package: librust-proxmox-http+http-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-proxmox-http-dev (= ${binary:Version}),
 librust-http-0.2+default-dev
Provides:
 librust-proxmox-http-0+http-dev (= ${binary:Version}),
 librust-proxmox-http-0.2+http-dev (= ${binary:Version}),
 librust-proxmox-http-0.2.0+http-dev (= ${binary:Version})
Description: Proxmox HTTP library - feature "http"
 This metapackage enables feature "http" for the Rust proxmox-http crate, by
 pulling in any additional dependencies needed by that feature.

Package: librust-proxmox-http+http-helpers-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-proxmox-http-dev (= ${binary:Version}),
 librust-base64-0.12+default-dev,
 librust-http-0.2+default-dev,
 librust-hyper-0.14+default-dev,
 librust-hyper-0.14+full-dev,
 librust-proxmox-0.11-dev (>= 0.11.3-~~),
 librust-tokio-1+io-util-dev,
 librust-tokio-openssl-0.6+default-dev (>= 0.6.1-~~)
Provides:
 librust-proxmox-http-0+http-helpers-dev (= ${binary:Version}),
 librust-proxmox-http-0.2+http-helpers-dev (= ${binary:Version}),
 librust-proxmox-http-0.2.0+http-helpers-dev (= ${binary:Version})
Description: Proxmox HTTP library - feature "http-helpers"
 This metapackage enables feature "http-helpers" for the Rust proxmox-http
 crate, by pulling in any additional dependencies needed by that feature.

Package: librust-proxmox-http+hyper-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-proxmox-http-dev (= ${binary:Version}),
 librust-hyper-0.14+default-dev,
 librust-hyper-0.14+full-dev
Provides:
 librust-proxmox-http-0+hyper-dev (= ${binary:Version}),
 librust-proxmox-http-0.2+hyper-dev (= ${binary:Version}),
 librust-proxmox-http-0.2.0+hyper-dev (= ${binary:Version})
Description: Proxmox HTTP library - feature "hyper"
 This metapackage enables feature "hyper" for the Rust proxmox-http crate, by
 pulling in any additional dependencies needed by that feature.

Package: librust-proxmox-http+openssl-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-proxmox-http-dev (= ${binary:Version}),
 librust-openssl-0.10+default-dev
Provides:
 librust-proxmox-http-0+openssl-dev (= ${binary:Version}),
 librust-proxmox-http-0.2+openssl-dev (= ${binary:Version}),
 librust-proxmox-http-0.2.0+openssl-dev (= ${binary:Version})
Description: Proxmox HTTP library - feature "openssl"
 This metapackage enables feature "openssl" for the Rust proxmox-http crate, by
 pulling in any additional dependencies needed by that feature.

Package: librust-proxmox-http+proxmox-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-proxmox-http-dev (= ${binary:Version}),
 librust-proxmox-0.11-dev (>= 0.11.3-~~)
Provides:
 librust-proxmox-http-0+proxmox-dev (= ${binary:Version}),
 librust-proxmox-http-0.2+proxmox-dev (= ${binary:Version}),
 librust-proxmox-http-0.2.0+proxmox-dev (= ${binary:Version})
Description: Proxmox HTTP library - feature "proxmox"
 This metapackage enables feature "proxmox" for the Rust proxmox-http crate, by
 pulling in any additional dependencies needed by that feature.

Package: librust-proxmox-http+tokio-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-proxmox-http-dev (= ${binary:Version}),
 librust-tokio-1+default-dev
Provides:
 librust-proxmox-http-0+tokio-dev (= ${binary:Version}),
 librust-proxmox-http-0.2+tokio-dev (= ${binary:Version}),
 librust-proxmox-http-0.2.0+tokio-dev (= ${binary:Version})
Description: Proxmox HTTP library - feature "tokio"
 This metapackage enables feature "tokio" for the Rust proxmox-http crate, by
 pulling in any additional dependencies needed by that feature.

Package: librust-proxmox-http+tokio-openssl-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-proxmox-http-dev (= ${binary:Version}),
 librust-tokio-openssl-0.6+default-dev (>= 0.6.1-~~)
Provides:
 librust-proxmox-http-0+tokio-openssl-dev (= ${binary:Version}),
 librust-proxmox-http-0.2+tokio-openssl-dev (= ${binary:Version}),
 librust-proxmox-http-0.2.0+tokio-openssl-dev (= ${binary:Version})
Description: Proxmox HTTP library - feature "tokio-openssl"
 This metapackage enables feature "tokio-openssl" for the Rust proxmox-http
 crate, by pulling in any additional dependencies needed by that feature.

Package: librust-proxmox-http+websocket-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-proxmox-http-dev (= ${binary:Version}),
 librust-base64-0.12+default-dev,
 librust-futures-0.3+default-dev,
 librust-hyper-0.14+default-dev,
 librust-hyper-0.14+full-dev,
 librust-openssl-0.10+default-dev,
 librust-proxmox-0.11+tokio-dev (>= 0.11.3-~~),
 librust-tokio-1+io-util-dev,
 librust-tokio-1+sync-dev
Provides:
 librust-proxmox-http-0+websocket-dev (= ${binary:Version}),
 librust-proxmox-http-0.2+websocket-dev (= ${binary:Version}),
 librust-proxmox-http-0.2.0+websocket-dev (= ${binary:Version})
Description: Proxmox HTTP library - feature "websocket"
 This metapackage enables feature "websocket" for the Rust proxmox-http crate,
 by pulling in any additional dependencies needed by that feature.
