Source: rust-proxmox-http
Section: rust
Priority: optional
Build-Depends: debhelper-compat (= 13),
 dh-sequence-cargo,
 cargo:native <!nocheck>,
 rustc:native (>= 1.80) <!nocheck>,
 libstd-rust-dev <!nocheck>,
 librust-anyhow-1+default-dev <!nocheck>
Maintainer: Proxmox Support Team <support@proxmox.com>
Standards-Version: 4.7.0
Vcs-Git: git://git.proxmox.com/git/proxmox.git
Vcs-Browser: https://git.proxmox.com/?p=proxmox.git
Homepage: https://proxmox.com
X-Cargo-Crate: proxmox-http
Rules-Requires-Root: no

Package: librust-proxmox-http-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-anyhow-1+default-dev
Suggests:
 librust-proxmox-http+client-dev (= ${binary:Version}),
 librust-proxmox-http+client-sync-dev (= ${binary:Version}),
 librust-proxmox-http+client-trait-dev (= ${binary:Version}),
 librust-proxmox-http+http-helpers-dev (= ${binary:Version}),
 librust-proxmox-http+proxmox-async-dev (= ${binary:Version}),
 librust-proxmox-http+rate-limited-stream-dev (= ${binary:Version}),
 librust-proxmox-http+rate-limiter-dev (= ${binary:Version}),
 librust-proxmox-http+websocket-dev (= ${binary:Version})
Provides:
 librust-proxmox-http+default-dev (= ${binary:Version}),
 librust-proxmox-http-0-dev (= ${binary:Version}),
 librust-proxmox-http-0+default-dev (= ${binary:Version}),
 librust-proxmox-http-0.9-dev (= ${binary:Version}),
 librust-proxmox-http-0.9+default-dev (= ${binary:Version}),
 librust-proxmox-http-0.9.3-dev (= ${binary:Version}),
 librust-proxmox-http-0.9.3+default-dev (= ${binary:Version})
Description: Proxmox HTTP library - Rust source code
 Source code for Debianized Rust crate "proxmox-http"

Package: librust-proxmox-http+client-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-proxmox-http-dev (= ${binary:Version}),
 librust-proxmox-http+http-helpers-dev (= ${binary:Version}),
 librust-proxmox-http+rate-limited-stream-dev (= ${binary:Version}),
 librust-futures-0.3+default-dev,
 librust-hyper-0.14+client-dev (>= 0.14.5-~~),
 librust-hyper-0.14+default-dev (>= 0.14.5-~~),
 librust-hyper-0.14+http1-dev (>= 0.14.5-~~),
 librust-hyper-0.14+http2-dev (>= 0.14.5-~~),
 librust-hyper-0.14+stream-dev (>= 0.14.5-~~),
 librust-hyper-0.14+tcp-dev (>= 0.14.5-~~),
 librust-openssl-0.10+default-dev,
 librust-proxmox-compression-0.2+default-dev (>= 0.2.4-~~),
 librust-tokio-1+default-dev (>= 1.6-~~),
 librust-tokio-1+io-util-dev (>= 1.6-~~),
 librust-tokio-openssl-0.6+default-dev (>= 0.6.1-~~)
Provides:
 librust-proxmox-http-0+client-dev (= ${binary:Version}),
 librust-proxmox-http-0.9+client-dev (= ${binary:Version}),
 librust-proxmox-http-0.9.3+client-dev (= ${binary:Version})
Description: Proxmox HTTP library - feature "client"
 This metapackage enables feature "client" for the Rust proxmox-http crate, by
 pulling in any additional dependencies needed by that feature.

Package: librust-proxmox-http+client-sync-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-proxmox-http-dev (= ${binary:Version}),
 librust-proxmox-http+client-trait-dev (= ${binary:Version}),
 librust-proxmox-http+http-helpers-dev (= ${binary:Version}),
 librust-native-tls-0.2+default-dev,
 librust-ureq-2+native-certs-dev (>= 2.4-~~),
 librust-ureq-2+native-tls-dev (>= 2.4-~~)
Provides:
 librust-proxmox-http-0+client-sync-dev (= ${binary:Version}),
 librust-proxmox-http-0.9+client-sync-dev (= ${binary:Version}),
 librust-proxmox-http-0.9.3+client-sync-dev (= ${binary:Version})
Description: Proxmox HTTP library - feature "client-sync"
 This metapackage enables feature "client-sync" for the Rust proxmox-http crate,
 by pulling in any additional dependencies needed by that feature.

Package: librust-proxmox-http+client-trait-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-proxmox-http-dev (= ${binary:Version}),
 librust-http-0.2+default-dev
Provides:
 librust-proxmox-http-0+client-trait-dev (= ${binary:Version}),
 librust-proxmox-http-0.9+client-trait-dev (= ${binary:Version}),
 librust-proxmox-http-0.9.3+client-trait-dev (= ${binary:Version})
Description: Proxmox HTTP library - feature "client-trait"
 This metapackage enables feature "client-trait" for the Rust proxmox-http
 crate, by pulling in any additional dependencies needed by that feature.

Package: librust-proxmox-http+http-helpers-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-proxmox-http-dev (= ${binary:Version}),
 librust-base64-0.13+default-dev,
 librust-http-0.2+default-dev,
 librust-proxmox-sys-0.6+default-dev,
 librust-serde-json-1+default-dev,
 librust-url-2+default-dev (>= 2.2-~~)
Provides:
 librust-proxmox-http-0+http-helpers-dev (= ${binary:Version}),
 librust-proxmox-http-0.9+http-helpers-dev (= ${binary:Version}),
 librust-proxmox-http-0.9.3+http-helpers-dev (= ${binary:Version})
Description: Proxmox HTTP library - feature "http-helpers"
 This metapackage enables feature "http-helpers" for the Rust proxmox-http
 crate, by pulling in any additional dependencies needed by that feature.

Package: librust-proxmox-http+proxmox-async-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-proxmox-http-dev (= ${binary:Version}),
 librust-proxmox-async-0.4+default-dev (>= 0.4.1-~~)
Provides:
 librust-proxmox-http-0+proxmox-async-dev (= ${binary:Version}),
 librust-proxmox-http-0.9+proxmox-async-dev (= ${binary:Version}),
 librust-proxmox-http-0.9.3+proxmox-async-dev (= ${binary:Version})
Description: Proxmox HTTP library - feature "proxmox-async"
 This metapackage enables feature "proxmox-async" for the Rust proxmox-http
 crate, by pulling in any additional dependencies needed by that feature.

Package: librust-proxmox-http+rate-limited-stream-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-proxmox-http-dev (= ${binary:Version}),
 librust-proxmox-http+rate-limiter-dev (= ${binary:Version}),
 librust-hyper-0.14+client-dev (>= 0.14.5-~~),
 librust-hyper-0.14+default-dev (>= 0.14.5-~~),
 librust-tokio-1+default-dev (>= 1.6-~~),
 librust-tokio-1+time-dev (>= 1.6-~~)
Provides:
 librust-proxmox-http-0+rate-limited-stream-dev (= ${binary:Version}),
 librust-proxmox-http-0.9+rate-limited-stream-dev (= ${binary:Version}),
 librust-proxmox-http-0.9.3+rate-limited-stream-dev (= ${binary:Version})
Description: Proxmox HTTP library - feature "rate-limited-stream"
 This metapackage enables feature "rate-limited-stream" for the Rust proxmox-
 http crate, by pulling in any additional dependencies needed by that feature.

Package: librust-proxmox-http+rate-limiter-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-proxmox-http-dev (= ${binary:Version}),
 librust-hyper-0.14+default-dev (>= 0.14.5-~~)
Provides:
 librust-proxmox-http-0+rate-limiter-dev (= ${binary:Version}),
 librust-proxmox-http-0.9+rate-limiter-dev (= ${binary:Version}),
 librust-proxmox-http-0.9.3+rate-limiter-dev (= ${binary:Version})
Description: Proxmox HTTP library - feature "rate-limiter"
 This metapackage enables feature "rate-limiter" for the Rust proxmox-http
 crate, by pulling in any additional dependencies needed by that feature.

Package: librust-proxmox-http+websocket-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-proxmox-http-dev (= ${binary:Version}),
 librust-base64-0.13+default-dev,
 librust-futures-0.3+default-dev,
 librust-hyper-0.14+default-dev (>= 0.14.5-~~),
 librust-openssl-0.10+default-dev,
 librust-proxmox-io-1+default-dev (>= 1.1.0-~~),
 librust-proxmox-io-1+tokio-dev (>= 1.1.0-~~),
 librust-proxmox-lang-1+default-dev (>= 1.3-~~),
 librust-proxmox-sys-0.6+default-dev,
 librust-tokio-1+default-dev (>= 1.6-~~),
 librust-tokio-1+io-util-dev (>= 1.6-~~),
 librust-tokio-1+sync-dev (>= 1.6-~~)
Provides:
 librust-proxmox-http-0+websocket-dev (= ${binary:Version}),
 librust-proxmox-http-0.9+websocket-dev (= ${binary:Version}),
 librust-proxmox-http-0.9.3+websocket-dev (= ${binary:Version})
Description: Proxmox HTTP library - feature "websocket"
 This metapackage enables feature "websocket" for the Rust proxmox-http crate,
 by pulling in any additional dependencies needed by that feature.
