Source: rust-proxmox-openid
Section: rust
Priority: optional
Build-Depends: debhelper (>= 12),
 dh-cargo (>= 25),
 cargo:native <!nocheck>,
 rustc:native <!nocheck>,
 libstd-rust-dev <!nocheck>,
 librust-anyhow-1+default-dev <!nocheck>,
 librust-http-0.2+default-dev <!nocheck>,
 librust-native-tls-0.2+default-dev <!nocheck>,
 librust-nix-0.26+default-dev (>= 0.26.1-~~) <!nocheck>,
 librust-openidconnect-2+accept-rfc3339-timestamps-dev (>= 2.4-~~) <!nocheck>,
 librust-proxmox-sys-0.6+default-dev <!nocheck>,
 librust-proxmox-sys-0.6+timer-dev <!nocheck>,
 librust-proxmox-time-2+default-dev <!nocheck>,
 librust-serde-1+default-dev <!nocheck>,
 librust-serde-1+derive-dev <!nocheck>,
 librust-serde-json-1+default-dev <!nocheck>,
 librust-thiserror-1+default-dev <!nocheck>,
 librust-ureq-2+gzip-dev (>= 2.4-~~) <!nocheck>,
 librust-ureq-2+native-tls-dev (>= 2.4-~~) <!nocheck>
Maintainer: Proxmox Support Team <support@proxmox.com>
Standards-Version: 4.6.2
Vcs-Git: 
Vcs-Browser: 
X-Cargo-Crate: proxmox-openid
Rules-Requires-Root: no

Package: librust-proxmox-openid-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-anyhow-1+default-dev,
 librust-http-0.2+default-dev,
 librust-native-tls-0.2+default-dev,
 librust-nix-0.26+default-dev (>= 0.26.1-~~),
 librust-openidconnect-2+accept-rfc3339-timestamps-dev (>= 2.4-~~),
 librust-proxmox-sys-0.6+default-dev,
 librust-proxmox-sys-0.6+timer-dev,
 librust-proxmox-time-2+default-dev,
 librust-serde-1+default-dev,
 librust-serde-1+derive-dev,
 librust-serde-json-1+default-dev,
 librust-thiserror-1+default-dev,
 librust-ureq-2+gzip-dev (>= 2.4-~~),
 librust-ureq-2+native-tls-dev (>= 2.4-~~)
Provides:
 librust-proxmox-openid+default-dev (= ${binary:Version}),
 librust-proxmox-openid-0-dev (= ${binary:Version}),
 librust-proxmox-openid-0+default-dev (= ${binary:Version}),
 librust-proxmox-openid-0.10-dev (= ${binary:Version}),
 librust-proxmox-openid-0.10+default-dev (= ${binary:Version}),
 librust-proxmox-openid-0.10.3-dev (= ${binary:Version}),
 librust-proxmox-openid-0.10.3+default-dev (= ${binary:Version})
Description: Rust crate "proxmox-openid" - Rust source code
 Source code for Debianized Rust crate "proxmox-openid"
