Source: rust-proxmox-openid
Section: rust
Priority: optional
Build-Depends: debhelper-compat (= 13),
 dh-sequence-cargo
Build-Depends-Arch: cargo:native <!nocheck>,
 rustc:native (>= 1.82) <!nocheck>,
 libstd-rust-dev <!nocheck>,
 librust-anyhow-1+default-dev <!nocheck>,
 librust-http-1+default-dev <!nocheck>,
 librust-native-tls-0.2+default-dev <!nocheck>,
 librust-nix-0.29+default-dev <!nocheck>,
 librust-openidconnect-4+accept-rfc3339-timestamps-dev <!nocheck>,
 librust-proxmox-sys-1+default-dev <!nocheck>,
 librust-proxmox-sys-1+timer-dev <!nocheck>,
 librust-proxmox-time-2+default-dev (>= 2.1.0-~~) <!nocheck>,
 librust-serde-1+default-dev <!nocheck>,
 librust-serde-1+derive-dev <!nocheck>,
 librust-serde-json-1+default-dev <!nocheck>,
 librust-thiserror-1+default-dev <!nocheck>,
 librust-ureq-3+gzip-dev <!nocheck>,
 librust-ureq-3+native-tls-dev <!nocheck>
Maintainer: Proxmox Support Team <support@proxmox.com>
Standards-Version: 4.7.0
Vcs-Git: 
Vcs-Browser: 
Homepage: https://proxmox.com
X-Cargo-Crate: proxmox-openid
Rules-Requires-Root: no

Package: librust-proxmox-openid-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-anyhow-1+default-dev,
 librust-http-1+default-dev,
 librust-native-tls-0.2+default-dev,
 librust-nix-0.29+default-dev,
 librust-openidconnect-4+accept-rfc3339-timestamps-dev,
 librust-proxmox-sys-1+default-dev,
 librust-proxmox-sys-1+timer-dev,
 librust-proxmox-time-2+default-dev (>= 2.1.0-~~),
 librust-serde-1+default-dev,
 librust-serde-1+derive-dev,
 librust-serde-json-1+default-dev,
 librust-thiserror-1+default-dev,
 librust-ureq-3+gzip-dev,
 librust-ureq-3+native-tls-dev
Provides:
 librust-proxmox-openid+default-dev (= ${binary:Version}),
 librust-proxmox-openid-1-dev (= ${binary:Version}),
 librust-proxmox-openid-1+default-dev (= ${binary:Version}),
 librust-proxmox-openid-1.0-dev (= ${binary:Version}),
 librust-proxmox-openid-1.0+default-dev (= ${binary:Version}),
 librust-proxmox-openid-1.0.0-dev (= ${binary:Version}),
 librust-proxmox-openid-1.0.0+default-dev (= ${binary:Version})
Description: Base for openid authentication in proxmox products - Rust source code
 Source code for Debianized Rust crate "proxmox-openid"
