[package]
name = "proxmox-schema"
description = "proxmox api schema and validation"
version = "4.1.0"

authors.workspace = true
edition.workspace = true
exclude.workspace = true
homepage.workspace = true
license.workspace = true
repository.workspace = true
rust-version.workspace = true

[dependencies]
anyhow.workspace = true
const_format = { workspace = true, optional = true }
regex.workspace = true
serde.workspace = true
serde_json.workspace = true
textwrap = "0.16"

# the upid type needs this for 'getpid'
libc = { workspace = true, optional = true }
nix = { workspace = true, optional = true }

proxmox-api-macro = { workspace = true, optional = true }

[dev-dependencies]
url.workspace = true
serde = { workspace = true, features = [ "derive" ] }
proxmox-api-macro.workspace = true

[features]
default = []

api-macro = ["dep:proxmox-api-macro"]
upid-api-impl = [ "dep:libc", "dep:nix" ]
api-types = [ "dep:const_format" ]

# Testing only
test-harness = []
