Source: rust-proxmox-time-api
Section: rust
Priority: optional
Build-Depends: debhelper-compat (= 13),
 dh-sequence-cargo
Build-Depends-Arch: cargo:native <!nocheck>,
 rustc:native <!nocheck>,
 libstd-rust-dev <!nocheck>,
 librust-anyhow-1+default-dev <!nocheck>,
 librust-proxmox-schema-5+api-macro-dev <!nocheck>,
 librust-proxmox-schema-5+api-types-dev <!nocheck>,
 librust-proxmox-schema-5+default-dev <!nocheck>,
 librust-serde-1+default-dev <!nocheck>,
 librust-serde-1+derive-dev <!nocheck>
Maintainer: Proxmox Support Team <support@proxmox.com>
Standards-Version: 4.7.0
Vcs-Git: git://git.proxmox.com/git/proxmox.git
Vcs-Browser: https://git.proxmox.com/?p=proxmox.git
Homepage: https://proxmox.com
X-Cargo-Crate: proxmox-time-api
Rules-Requires-Root: no

Package: librust-proxmox-time-api-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-anyhow-1+default-dev,
 librust-proxmox-schema-5+api-macro-dev,
 librust-proxmox-schema-5+api-types-dev,
 librust-proxmox-schema-5+default-dev,
 librust-serde-1+default-dev,
 librust-serde-1+derive-dev
Suggests:
 librust-proxmox-time-api+impl-dev (= ${binary:Version})
Provides:
 librust-proxmox-time-api+default-dev (= ${binary:Version}),
 librust-proxmox-time-api-1-dev (= ${binary:Version}),
 librust-proxmox-time-api-1+default-dev (= ${binary:Version}),
 librust-proxmox-time-api-1.0-dev (= ${binary:Version}),
 librust-proxmox-time-api-1.0+default-dev (= ${binary:Version}),
 librust-proxmox-time-api-1.0.1-dev (= ${binary:Version}),
 librust-proxmox-time-api-1.0.1+default-dev (= ${binary:Version})
Description: Time Management API implementation - Rust source code
 Source code for Debianized Rust crate "proxmox-time-api"

Package: librust-proxmox-time-api+impl-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-proxmox-time-api-dev (= ${binary:Version}),
 librust-proxmox-product-config-1+default-dev,
 librust-proxmox-sys-1+default-dev,
 librust-proxmox-time-2+default-dev (>= 2.1.0-~~)
Provides:
 librust-proxmox-time-api-1+impl-dev (= ${binary:Version}),
 librust-proxmox-time-api-1.0+impl-dev (= ${binary:Version}),
 librust-proxmox-time-api-1.0.1+impl-dev (= ${binary:Version})
Description: Time Management API implementation - feature "impl"
 This metapackage enables feature "impl" for the Rust proxmox-time-api crate, by
 pulling in any additional dependencies needed by that feature.
