Source: rust-proxmox-upgrade-checks
Section: rust
Priority: optional
Build-Depends: debhelper-compat (= 13),
 dh-sequence-cargo
Build-Depends-Arch: cargo:native <!nocheck>,
 rustc:native (>= 1.82) <!nocheck>,
 libstd-rust-dev <!nocheck>,
 librust-anyhow-1+default-dev <!nocheck>,
 librust-const-format-0.2+default-dev <!nocheck>,
 librust-proxmox-apt-0.99+cache-dev <!nocheck>,
 librust-proxmox-apt-0.99+default-dev <!nocheck>,
 librust-proxmox-apt-api-types-2+default-dev (>= 2.0.2-~~) <!nocheck>,
 librust-regex-1+default-dev (>= 1.5-~~) <!nocheck>,
 librust-termcolor-1+default-dev (>= 1.1.2-~~) <!nocheck>
Maintainer: Proxmox Support Team <support@proxmox.com>
Standards-Version: 4.7.2
Vcs-Git: git://git.proxmox.com/git/proxmox.git
Vcs-Browser: https://git.proxmox.com/?p=proxmox.git
Homepage: https://proxmox.com
X-Cargo-Crate: proxmox-upgrade-checks

Package: librust-proxmox-upgrade-checks-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-anyhow-1+default-dev,
 librust-const-format-0.2+default-dev,
 librust-proxmox-apt-0.99+cache-dev,
 librust-proxmox-apt-0.99+default-dev,
 librust-proxmox-apt-api-types-2+default-dev (>= 2.0.2-~~),
 librust-regex-1+default-dev (>= 1.5-~~),
 librust-termcolor-1+default-dev (>= 1.1.2-~~)
Provides:
 librust-proxmox-upgrade-checks+default-dev (= ${binary:Version}),
 librust-proxmox-upgrade-checks-1-dev (= ${binary:Version}),
 librust-proxmox-upgrade-checks-1+default-dev (= ${binary:Version}),
 librust-proxmox-upgrade-checks-1.0-dev (= ${binary:Version}),
 librust-proxmox-upgrade-checks-1.0+default-dev (= ${binary:Version}),
 librust-proxmox-upgrade-checks-1.0.0-dev (= ${binary:Version}),
 librust-proxmox-upgrade-checks-1.0.0+default-dev (= ${binary:Version})
Description: Helpers to implement checks to help with (major) upgrades of Proxmox products - Rust source code
 Source code for Debianized Rust crate "proxmox-upgrade-checks"
