Source: rust-proxmox-notify
Section: rust
Priority: optional
Build-Depends: debhelper-compat (= 13),
 dh-sequence-cargo
Build-Depends-Arch: cargo:native <!nocheck>,
 rustc:native (>= 1.82) <!nocheck>,
 libstd-rust-dev <!nocheck>,
 librust-anyhow-1+default-dev <!nocheck>,
 librust-const-format-0.2+default-dev <!nocheck>,
 librust-handlebars-5+default-dev <!nocheck>,
 librust-http-1+default-dev <!nocheck>,
 librust-lettre-0.11+default-dev (>= 0.11.1-~~) <!nocheck>,
 librust-openssl-0.10+default-dev <!nocheck>,
 librust-percent-encoding-2+default-dev (>= 2.1-~~) <!nocheck>,
 librust-proxmox-base64-1+default-dev <!nocheck>,
 librust-proxmox-http-1+client-sync-dev (>= 1.0.3-~~) <!nocheck>,
 librust-proxmox-http-1+default-dev (>= 1.0.3-~~) <!nocheck>,
 librust-proxmox-http-error-1+default-dev <!nocheck>,
 librust-proxmox-human-byte-1+default-dev <!nocheck>,
 librust-proxmox-schema-5+api-macro-dev (>= 5.0.1-~~) <!nocheck>,
 librust-proxmox-schema-5+api-types-dev (>= 5.0.1-~~) <!nocheck>,
 librust-proxmox-schema-5+default-dev (>= 5.0.1-~~) <!nocheck>,
 librust-proxmox-section-config-3+default-dev (>= 3.1.0-~~) <!nocheck>,
 librust-proxmox-sendmail-1+default-dev (>= 1.0.1-~~) <!nocheck>,
 librust-proxmox-serde-1+default-dev <!nocheck>,
 librust-proxmox-serde-1+serde-json-dev <!nocheck>,
 librust-proxmox-sys-1+default-dev <!nocheck>,
 librust-proxmox-time-2+default-dev (>= 2.1.0-~~) <!nocheck>,
 librust-proxmox-uuid-1+default-dev (>= 1.1.0-~~) <!nocheck>,
 librust-proxmox-uuid-1+serde-dev (>= 1.1.0-~~) <!nocheck>,
 librust-regex-1+default-dev (>= 1.5-~~) <!nocheck>,
 librust-serde-1+default-dev <!nocheck>,
 librust-serde-1+derive-dev <!nocheck>,
 librust-serde-json-1+default-dev <!nocheck>,
 librust-tracing-0.1+default-dev <!nocheck>
Maintainer: Proxmox Support Team <support@proxmox.com>
Standards-Version: 4.7.2
Vcs-Git: git://git.proxmox.com/git/proxmox.git
Vcs-Browser: https://git.proxmox.com/?p=proxmox.git
Homepage: https://proxmox.com
X-Cargo-Crate: proxmox-notify

Package: librust-proxmox-notify-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-anyhow-1+default-dev,
 librust-const-format-0.2+default-dev,
 librust-handlebars-5+default-dev,
 librust-openssl-0.10+default-dev,
 librust-proxmox-http-error-1+default-dev,
 librust-proxmox-human-byte-1+default-dev,
 librust-proxmox-schema-5+api-macro-dev (>= 5.0.1-~~),
 librust-proxmox-schema-5+api-types-dev (>= 5.0.1-~~),
 librust-proxmox-schema-5+default-dev (>= 5.0.1-~~),
 librust-proxmox-section-config-3+default-dev (>= 3.1.0-~~),
 librust-proxmox-serde-1+default-dev,
 librust-proxmox-serde-1+serde-json-dev,
 librust-proxmox-time-2+default-dev (>= 2.1.0-~~),
 librust-proxmox-uuid-1+default-dev (>= 1.1.0-~~),
 librust-proxmox-uuid-1+serde-dev (>= 1.1.0-~~),
 librust-regex-1+default-dev (>= 1.5-~~),
 librust-serde-1+default-dev,
 librust-serde-1+derive-dev,
 librust-serde-json-1+default-dev,
 librust-tracing-0.1+default-dev
Recommends:
 librust-proxmox-notify+default-dev (= ${binary:Version})
Suggests:
 librust-proxmox-notify+gotify-dev (= ${binary:Version}),
 librust-proxmox-notify+mail-forwarder-dev (= ${binary:Version}),
 librust-proxmox-notify+pbs-context-dev (= ${binary:Version}),
 librust-proxmox-notify+sendmail-dev (= ${binary:Version}),
 librust-proxmox-notify+smtp-dev (= ${binary:Version}),
 librust-proxmox-notify+webhook-dev (= ${binary:Version})
Provides:
 librust-proxmox-notify-1-dev (= ${binary:Version}),
 librust-proxmox-notify-1.0-dev (= ${binary:Version}),
 librust-proxmox-notify-1.0.3-dev (= ${binary:Version})
Description: Notification base and plugins - Rust source code
 Source code for Debianized Rust crate "proxmox-notify"

Package: librust-proxmox-notify+default-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-proxmox-notify-dev (= ${binary:Version}),
 librust-proxmox-notify+sendmail-dev (= ${binary:Version}),
 librust-proxmox-notify+gotify-dev (= ${binary:Version}),
 librust-proxmox-notify+smtp-dev (= ${binary:Version}),
 librust-proxmox-notify+webhook-dev (= ${binary:Version})
Provides:
 librust-proxmox-notify-1+default-dev (= ${binary:Version}),
 librust-proxmox-notify-1.0+default-dev (= ${binary:Version}),
 librust-proxmox-notify-1.0.3+default-dev (= ${binary:Version})
Description: Notification base and plugins - feature "default"
 This metapackage enables feature "default" for the Rust proxmox-notify crate,
 by pulling in any additional dependencies needed by that feature.

Package: librust-proxmox-notify+gotify-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-proxmox-notify-dev (= ${binary:Version}),
 librust-http-1+default-dev,
 librust-proxmox-http-1+client-sync-dev (>= 1.0.3-~~),
 librust-proxmox-http-1+default-dev (>= 1.0.3-~~)
Provides:
 librust-proxmox-notify-1+gotify-dev (= ${binary:Version}),
 librust-proxmox-notify-1.0+gotify-dev (= ${binary:Version}),
 librust-proxmox-notify-1.0.3+gotify-dev (= ${binary:Version})
Description: Notification base and plugins - feature "gotify"
 This metapackage enables feature "gotify" for the Rust proxmox-notify crate, by
 pulling in any additional dependencies needed by that feature.

Package: librust-proxmox-notify+mail-forwarder-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-proxmox-notify-dev (= ${binary:Version}),
 librust-mail-parser-0.11+default-dev,
 librust-proxmox-sendmail-1+mail-forwarder-dev (>= 1.0.1-~~),
 librust-proxmox-sys-1+default-dev
Provides:
 librust-proxmox-notify-1+mail-forwarder-dev (= ${binary:Version}),
 librust-proxmox-notify-1.0+mail-forwarder-dev (= ${binary:Version}),
 librust-proxmox-notify-1.0.3+mail-forwarder-dev (= ${binary:Version})
Description: Notification base and plugins - feature "mail-forwarder"
 This metapackage enables feature "mail-forwarder" for the Rust proxmox-notify
 crate, by pulling in any additional dependencies needed by that feature.

Package: librust-proxmox-notify+pbs-context-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-proxmox-notify-dev (= ${binary:Version}),
 librust-proxmox-sys-1+default-dev
Provides:
 librust-proxmox-notify+pve-context-dev (= ${binary:Version}),
 librust-proxmox-notify-1+pbs-context-dev (= ${binary:Version}),
 librust-proxmox-notify-1+pve-context-dev (= ${binary:Version}),
 librust-proxmox-notify-1.0+pbs-context-dev (= ${binary:Version}),
 librust-proxmox-notify-1.0+pve-context-dev (= ${binary:Version}),
 librust-proxmox-notify-1.0.3+pbs-context-dev (= ${binary:Version}),
 librust-proxmox-notify-1.0.3+pve-context-dev (= ${binary:Version})
Description: Notification base and plugins - feature "pbs-context" and 1 more
 This metapackage enables feature "pbs-context" for the Rust proxmox-notify
 crate, by pulling in any additional dependencies needed by that feature.
 .
 Additionally, this package also provides the "pve-context" feature.

Package: librust-proxmox-notify+sendmail-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-proxmox-notify-dev (= ${binary:Version}),
 librust-proxmox-sendmail-1+default-dev (>= 1.0.1-~~),
 librust-proxmox-sys-1+default-dev
Provides:
 librust-proxmox-notify-1+sendmail-dev (= ${binary:Version}),
 librust-proxmox-notify-1.0+sendmail-dev (= ${binary:Version}),
 librust-proxmox-notify-1.0.3+sendmail-dev (= ${binary:Version})
Description: Notification base and plugins - feature "sendmail"
 This metapackage enables feature "sendmail" for the Rust proxmox-notify crate,
 by pulling in any additional dependencies needed by that feature.

Package: librust-proxmox-notify+smtp-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-proxmox-notify-dev (= ${binary:Version}),
 librust-lettre-0.11+default-dev (>= 0.11.1-~~)
Provides:
 librust-proxmox-notify-1+smtp-dev (= ${binary:Version}),
 librust-proxmox-notify-1.0+smtp-dev (= ${binary:Version}),
 librust-proxmox-notify-1.0.3+smtp-dev (= ${binary:Version})
Description: Notification base and plugins - feature "smtp"
 This metapackage enables feature "smtp" for the Rust proxmox-notify crate, by
 pulling in any additional dependencies needed by that feature.

Package: librust-proxmox-notify+webhook-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-proxmox-notify-dev (= ${binary:Version}),
 librust-http-1+default-dev,
 librust-percent-encoding-2+default-dev (>= 2.1-~~),
 librust-proxmox-base64-1+default-dev,
 librust-proxmox-http-1+client-sync-dev (>= 1.0.3-~~),
 librust-proxmox-http-1+default-dev (>= 1.0.3-~~)
Provides:
 librust-proxmox-notify-1+webhook-dev (= ${binary:Version}),
 librust-proxmox-notify-1.0+webhook-dev (= ${binary:Version}),
 librust-proxmox-notify-1.0.3+webhook-dev (= ${binary:Version})
Description: Notification base and plugins - feature "webhook"
 This metapackage enables feature "webhook" for the Rust proxmox-notify crate,
 by pulling in any additional dependencies needed by that feature.
