Source: rust-proxmox-notify
Section: rust
Priority: optional
Build-Depends: debhelper (>= 12),
 dh-cargo (>= 25),
 cargo:native <!nocheck>,
 rustc:native <!nocheck>,
 libstd-rust-dev <!nocheck>,
 librust-anyhow-1+default-dev <!nocheck>,
 librust-handlebars-3+default-dev <!nocheck>,
 librust-lazy-static-1+default-dev (>= 1.4-~~) <!nocheck>,
 librust-lettre-0.11+default-dev (>= 0.11.1-~~) <!nocheck>,
 librust-log-0.4+default-dev (>= 0.4.17-~~) <!nocheck>,
 librust-openssl-0.10+default-dev <!nocheck>,
 librust-proxmox-http-0.9+client-sync-dev <!nocheck>,
 librust-proxmox-http-0.9+default-dev <!nocheck>,
 librust-proxmox-http-error-0.1+default-dev <!nocheck>,
 librust-proxmox-human-byte-0.1+default-dev <!nocheck>,
 librust-proxmox-schema-2+api-macro-dev <!nocheck>,
 librust-proxmox-schema-2+api-types-dev <!nocheck>,
 librust-proxmox-schema-2+default-dev <!nocheck>,
 librust-proxmox-section-config-2+default-dev <!nocheck>,
 librust-proxmox-serde-0.1+default-dev (>= 0.1.1-~~) <!nocheck>,
 librust-proxmox-serde-0.1+serde-json-dev (>= 0.1.1-~~) <!nocheck>,
 librust-proxmox-sys-0.5+default-dev (>= 0.5.1-~~) <!nocheck>,
 librust-proxmox-time-1+default-dev (>= 1.1.4-~~) <!nocheck>,
 librust-regex-1+default-dev (>= 1.5-~~) <!nocheck>,
 librust-serde-1+default-dev <!nocheck>,
 librust-serde-1+derive-dev <!nocheck>,
 librust-serde-json-1+default-dev <!nocheck>
Maintainer: Proxmox Support Team <support@proxmox.com>
Standards-Version: 4.6.1
Vcs-Git: git://git.proxmox.com/git/proxmox.git
Vcs-Browser: https://git.proxmox.com/?p=proxmox.git
X-Cargo-Crate: proxmox-notify
Rules-Requires-Root: no

Package: librust-proxmox-notify-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-anyhow-1+default-dev,
 librust-handlebars-3+default-dev,
 librust-lazy-static-1+default-dev (>= 1.4-~~),
 librust-log-0.4+default-dev (>= 0.4.17-~~),
 librust-openssl-0.10+default-dev,
 librust-proxmox-http-error-0.1+default-dev,
 librust-proxmox-human-byte-0.1+default-dev,
 librust-proxmox-schema-2+api-macro-dev,
 librust-proxmox-schema-2+api-types-dev,
 librust-proxmox-schema-2+default-dev,
 librust-proxmox-section-config-2+default-dev,
 librust-proxmox-serde-0.1+default-dev (>= 0.1.1-~~),
 librust-proxmox-serde-0.1+serde-json-dev (>= 0.1.1-~~),
 librust-proxmox-time-1+default-dev (>= 1.1.4-~~),
 librust-regex-1+default-dev (>= 1.5-~~),
 librust-serde-1+default-dev,
 librust-serde-1+derive-dev,
 librust-serde-json-1+default-dev
Recommends:
 librust-proxmox-notify+default-dev (= ${binary:Version})
Suggests:
 librust-proxmox-notify+gotify-dev (= ${binary:Version}),
 librust-proxmox-notify+mail-forwarder-dev (= ${binary:Version}),
 librust-proxmox-notify+pbs-context-dev (= ${binary:Version}),
 librust-proxmox-notify+smtp-dev (= ${binary:Version})
Provides:
 librust-proxmox-notify-0-dev (= ${binary:Version}),
 librust-proxmox-notify-0.3-dev (= ${binary:Version}),
 librust-proxmox-notify-0.3.0-dev (= ${binary:Version})
Description: Rust crate "proxmox-notify" - Rust source code
 This package contains the source for the Rust proxmox-notify crate, packaged by
 debcargo for use with cargo and dh-cargo.

Package: librust-proxmox-notify+default-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-proxmox-notify-dev (= ${binary:Version}),
 librust-proxmox-notify+sendmail-dev (= ${binary:Version}),
 librust-proxmox-notify+gotify-dev (= ${binary:Version}),
 librust-proxmox-notify+smtp-dev (= ${binary:Version})
Provides:
 librust-proxmox-notify-0+default-dev (= ${binary:Version}),
 librust-proxmox-notify-0.3+default-dev (= ${binary:Version}),
 librust-proxmox-notify-0.3.0+default-dev (= ${binary:Version})
Description: Rust crate "proxmox-notify" - feature "default"
 This metapackage enables feature "default" for the Rust proxmox-notify crate,
 by pulling in any additional dependencies needed by that feature.

Package: librust-proxmox-notify+gotify-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-proxmox-notify-dev (= ${binary:Version}),
 librust-proxmox-http-0.9+client-sync-dev,
 librust-proxmox-http-0.9+default-dev
Provides:
 librust-proxmox-notify-0+gotify-dev (= ${binary:Version}),
 librust-proxmox-notify-0.3+gotify-dev (= ${binary:Version}),
 librust-proxmox-notify-0.3.0+gotify-dev (= ${binary:Version})
Description: Rust crate "proxmox-notify" - feature "gotify"
 This metapackage enables feature "gotify" for the Rust proxmox-notify crate, by
 pulling in any additional dependencies needed by that feature.

Package: librust-proxmox-notify+mail-forwarder-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-proxmox-notify-dev (= ${binary:Version}),
 librust-mail-parser-0.8+default-dev (>= 0.8.2-~~)
Provides:
 librust-proxmox-notify-0+mail-forwarder-dev (= ${binary:Version}),
 librust-proxmox-notify-0.3+mail-forwarder-dev (= ${binary:Version}),
 librust-proxmox-notify-0.3.0+mail-forwarder-dev (= ${binary:Version})
Description: Rust crate "proxmox-notify" - feature "mail-forwarder"
 This metapackage enables feature "mail-forwarder" for the Rust proxmox-notify
 crate, by pulling in any additional dependencies needed by that feature.

Package: librust-proxmox-notify+pbs-context-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-proxmox-notify-dev (= ${binary:Version}),
 librust-proxmox-sys-0.5+default-dev (>= 0.5.1-~~)
Provides:
 librust-proxmox-notify+pve-context-dev (= ${binary:Version}),
 librust-proxmox-notify+sendmail-dev (= ${binary:Version}),
 librust-proxmox-notify-0+pbs-context-dev (= ${binary:Version}),
 librust-proxmox-notify-0+pve-context-dev (= ${binary:Version}),
 librust-proxmox-notify-0+sendmail-dev (= ${binary:Version}),
 librust-proxmox-notify-0.3+pbs-context-dev (= ${binary:Version}),
 librust-proxmox-notify-0.3+pve-context-dev (= ${binary:Version}),
 librust-proxmox-notify-0.3+sendmail-dev (= ${binary:Version}),
 librust-proxmox-notify-0.3.0+pbs-context-dev (= ${binary:Version}),
 librust-proxmox-notify-0.3.0+pve-context-dev (= ${binary:Version}),
 librust-proxmox-notify-0.3.0+sendmail-dev (= ${binary:Version})
Description: Rust crate "proxmox-notify" - feature "pbs-context" and 2 more
 This metapackage enables feature "pbs-context" for the Rust proxmox-notify
 crate, by pulling in any additional dependencies needed by that feature.
 .
 Additionally, this package also provides the "pve-context", and "sendmail"
 features.

Package: librust-proxmox-notify+smtp-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-proxmox-notify-dev (= ${binary:Version}),
 librust-lettre-0.11+default-dev (>= 0.11.1-~~)
Provides:
 librust-proxmox-notify-0+smtp-dev (= ${binary:Version}),
 librust-proxmox-notify-0.3+smtp-dev (= ${binary:Version}),
 librust-proxmox-notify-0.3.0+smtp-dev (= ${binary:Version})
Description: Rust crate "proxmox-notify" - feature "smtp"
 This metapackage enables feature "smtp" for the Rust proxmox-notify crate, by
 pulling in any additional dependencies needed by that feature.
