Source: rust-proxmox-acme-api
Section: rust
Priority: optional
Build-Depends: debhelper-compat (= 13),
 dh-sequence-cargo
Build-Depends-Arch: cargo:native <!nocheck>,
 rustc:native (>= 1.82) <!nocheck>,
 libstd-rust-dev <!nocheck>,
 librust-anyhow-1+default-dev <!nocheck>,
 librust-proxmox-acme-1+api-types-dev <!nocheck>,
 librust-proxmox-schema-5+api-macro-dev <!nocheck>,
 librust-proxmox-schema-5+api-types-dev <!nocheck>,
 librust-proxmox-schema-5+default-dev <!nocheck>,
 librust-proxmox-serde-1+default-dev <!nocheck>,
 librust-proxmox-serde-1+serde-json-dev <!nocheck>,
 librust-serde-1+default-dev <!nocheck>,
 librust-serde-1+derive-dev <!nocheck>,
 librust-serde-json-1+default-dev <!nocheck>
Maintainer: Proxmox Support Team <support@proxmox.com>
Standards-Version: 4.7.2
Vcs-Git: 
Vcs-Browser: 
Homepage: https://proxmox.com
X-Cargo-Crate: proxmox-acme-api
Rules-Requires-Root: no

Package: librust-proxmox-acme-api-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-anyhow-1+default-dev,
 librust-proxmox-acme-1+api-types-dev,
 librust-proxmox-schema-5+api-macro-dev,
 librust-proxmox-schema-5+api-types-dev,
 librust-proxmox-schema-5+default-dev,
 librust-proxmox-serde-1+default-dev,
 librust-proxmox-serde-1+serde-json-dev,
 librust-serde-1+default-dev,
 librust-serde-1+derive-dev,
 librust-serde-json-1+default-dev
Suggests:
 librust-proxmox-acme-api+impl-dev (= ${binary:Version})
Provides:
 librust-proxmox-acme-api+default-dev (= ${binary:Version}),
 librust-proxmox-acme-api-1-dev (= ${binary:Version}),
 librust-proxmox-acme-api-1+default-dev (= ${binary:Version}),
 librust-proxmox-acme-api-1.0-dev (= ${binary:Version}),
 librust-proxmox-acme-api-1.0+default-dev (= ${binary:Version}),
 librust-proxmox-acme-api-1.0.1-dev (= ${binary:Version}),
 librust-proxmox-acme-api-1.0.1+default-dev (= ${binary:Version})
Description: ACME API implementation - Rust source code
 Source code for Debianized Rust crate "proxmox-acme-api"

Package: librust-proxmox-acme-api+impl-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-proxmox-acme-api-dev (= ${binary:Version}),
 librust-foreign-types-0.3+default-dev,
 librust-futures-0.3+default-dev,
 librust-hex-0.4+default-dev,
 librust-http-1+default-dev,
 librust-http-body-util-0.1+default-dev,
 librust-hyper-1+default-dev,
 librust-hyper-util-0.1+default-dev (>= 0.1.12-~~),
 librust-hyper-util-0.1+http1-dev (>= 0.1.12-~~),
 librust-hyper-util-0.1+server-dev (>= 0.1.12-~~),
 librust-libc-0.2+default-dev (>= 0.2.107-~~),
 librust-openssl-0.10+default-dev,
 librust-proxmox-acme-1+api-types-dev,
 librust-proxmox-acme-1+async-client-dev,
 librust-proxmox-acme-1+impl-dev,
 librust-proxmox-base64-1+default-dev,
 librust-proxmox-config-digest-1+default-dev,
 librust-proxmox-config-digest-1+openssl-dev,
 librust-proxmox-log-1+default-dev,
 librust-proxmox-product-config-1+default-dev,
 librust-proxmox-rest-server-1+default-dev,
 librust-proxmox-router-3+default-dev (>= 3.2.2-~~),
 librust-proxmox-section-config-3+default-dev (>= 3.1.0-~~),
 librust-proxmox-sys-1+default-dev,
 librust-proxmox-time-2+default-dev (>= 2.1.0-~~),
 librust-proxmox-uuid-1+default-dev (>= 1.1.0-~~),
 librust-tokio-1+default-dev (>= 1.6-~~),
 librust-tokio-1+fs-dev (>= 1.6-~~)
Provides:
 librust-proxmox-acme-api-1+impl-dev (= ${binary:Version}),
 librust-proxmox-acme-api-1.0+impl-dev (= ${binary:Version}),
 librust-proxmox-acme-api-1.0.1+impl-dev (= ${binary:Version})
Description: ACME API implementation - feature "impl"
 This metapackage enables feature "impl" for the Rust proxmox-acme-api crate, by
 pulling in any additional dependencies needed by that feature.
