Source: rust-proxmox-acme-api
Section: rust
Priority: optional
Build-Depends: debhelper (>= 12),
 dh-cargo (>= 25),
 cargo:native <!nocheck>,
 rustc:native (>= 1.80) <!nocheck>,
 libstd-rust-dev <!nocheck>,
 librust-anyhow-1+default-dev <!nocheck>,
 librust-proxmox-acme-0.5+api-types-dev (>= 0.5.2-~~) <!nocheck>,
 librust-proxmox-schema-3+api-macro-dev (>= 3.1.2-~~) <!nocheck>,
 librust-proxmox-schema-3+api-types-dev (>= 3.1.2-~~) <!nocheck>,
 librust-proxmox-schema-3+default-dev (>= 3.1.2-~~) <!nocheck>,
 librust-proxmox-serde-0.1+default-dev (>= 0.1.1-~~) <!nocheck>,
 librust-proxmox-serde-0.1+serde-json-dev (>= 0.1.1-~~) <!nocheck>,
 librust-serde-1+default-dev <!nocheck>,
 librust-serde-1+derive-dev <!nocheck>,
 librust-serde-json-1+default-dev <!nocheck>
Maintainer: Proxmox Support Team <support@proxmox.com>
Standards-Version: 4.6.2
Vcs-Git: 
Vcs-Browser: 
X-Cargo-Crate: proxmox-acme-api
Rules-Requires-Root: no

Package: librust-proxmox-acme-api-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-anyhow-1+default-dev,
 librust-proxmox-acme-0.5+api-types-dev (>= 0.5.2-~~),
 librust-proxmox-schema-3+api-macro-dev (>= 3.1.2-~~),
 librust-proxmox-schema-3+api-types-dev (>= 3.1.2-~~),
 librust-proxmox-schema-3+default-dev (>= 3.1.2-~~),
 librust-proxmox-serde-0.1+default-dev (>= 0.1.1-~~),
 librust-proxmox-serde-0.1+serde-json-dev (>= 0.1.1-~~),
 librust-serde-1+default-dev,
 librust-serde-1+derive-dev,
 librust-serde-json-1+default-dev
Suggests:
 librust-proxmox-acme-api+impl-dev (= ${binary:Version})
Provides:
 librust-proxmox-acme-api+default-dev (= ${binary:Version}),
 librust-proxmox-acme-api-0-dev (= ${binary:Version}),
 librust-proxmox-acme-api-0+default-dev (= ${binary:Version}),
 librust-proxmox-acme-api-0.1-dev (= ${binary:Version}),
 librust-proxmox-acme-api-0.1+default-dev (= ${binary:Version}),
 librust-proxmox-acme-api-0.1.5-dev (= ${binary:Version}),
 librust-proxmox-acme-api-0.1.5+default-dev (= ${binary:Version})
Description: ACME API implementation - Rust source code
 Source code for Debianized Rust crate "proxmox-acme-api"

Package: librust-proxmox-acme-api+impl-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-proxmox-acme-api-dev (= ${binary:Version}),
 librust-base64-0.13+default-dev,
 librust-foreign-types-0.3+default-dev,
 librust-futures-0.3+default-dev,
 librust-hex-0.4+default-dev,
 librust-http-0.2+default-dev,
 librust-hyper-0.14+default-dev (>= 0.14.5-~~),
 librust-libc-0.2+default-dev (>= 0.2.107-~~),
 librust-openssl-0.10+default-dev,
 librust-proxmox-acme-0.5+api-types-dev (>= 0.5.2-~~),
 librust-proxmox-acme-0.5+async-client-dev (>= 0.5.2-~~),
 librust-proxmox-acme-0.5+impl-dev (>= 0.5.2-~~),
 librust-proxmox-config-digest-0.1+default-dev,
 librust-proxmox-config-digest-0.1+openssl-dev,
 librust-proxmox-log-0.2+default-dev (>= 0.2.1-~~),
 librust-proxmox-product-config-0.2+default-dev,
 librust-proxmox-rest-server-0.7+default-dev,
 librust-proxmox-router-2+default-dev (>= 2.1.5-~~),
 librust-proxmox-section-config-2+default-dev (>= 2.1.0-~~),
 librust-proxmox-sys-0.6+default-dev,
 librust-proxmox-time-2+default-dev,
 librust-proxmox-uuid-1+default-dev (>= 1.0.1-~~),
 librust-tokio-1+default-dev (>= 1.6-~~),
 librust-tokio-1+fs-dev (>= 1.6-~~)
Provides:
 librust-proxmox-acme-api-0+impl-dev (= ${binary:Version}),
 librust-proxmox-acme-api-0.1+impl-dev (= ${binary:Version}),
 librust-proxmox-acme-api-0.1.5+impl-dev (= ${binary:Version})
Description: ACME API implementation - feature "impl"
 This metapackage enables feature "impl" for the Rust proxmox-acme-api crate, by
 pulling in any additional dependencies needed by that feature.
