Source: rust-proxmox-rest-server
Section: rust
Priority: optional
Build-Depends: debhelper-compat (= 13),
 dh-sequence-cargo
Build-Depends-Arch: cargo:native <!nocheck>,
 rustc:native (>= 1.82) <!nocheck>,
 libstd-rust-dev <!nocheck>,
 librust-anyhow-1+default-dev <!nocheck>,
 librust-futures-0.3+default-dev <!nocheck>,
 librust-http-1+default-dev <!nocheck>,
 librust-http-body-util-0.1+default-dev <!nocheck>,
 librust-hyper-1+default-dev <!nocheck>,
 librust-hyper-1+full-dev <!nocheck>,
 librust-hyper-util-0.1+client-dev (>= 0.1.12-~~) <!nocheck>,
 librust-hyper-util-0.1+client-legacy-dev (>= 0.1.12-~~) <!nocheck>,
 librust-hyper-util-0.1+default-dev (>= 0.1.12-~~) <!nocheck>,
 librust-hyper-util-0.1+http1-dev (>= 0.1.12-~~) <!nocheck>,
 librust-hyper-util-0.1+server-auto-dev (>= 0.1.12-~~) <!nocheck>,
 librust-hyper-util-0.1+server-dev (>= 0.1.12-~~) <!nocheck>,
 librust-hyper-util-0.1+server-graceful-dev (>= 0.1.12-~~) <!nocheck>,
 librust-hyper-util-0.1+service-dev (>= 0.1.12-~~) <!nocheck>,
 librust-hyper-util-0.1+tokio-dev (>= 0.1.12-~~) <!nocheck>,
 librust-libc-0.2+default-dev (>= 0.2.107-~~) <!nocheck>,
 librust-log-0.4+default-dev (>= 0.4.17-~~) <!nocheck>,
 librust-nix-0.29+default-dev <!nocheck>,
 librust-openssl-0.10+default-dev <!nocheck>,
 librust-percent-encoding-2+default-dev (>= 2.1-~~) <!nocheck>,
 librust-proxmox-async-0.5+default-dev <!nocheck>,
 librust-proxmox-compression-1+default-dev <!nocheck>,
 librust-proxmox-daemon-1+default-dev <!nocheck>,
 librust-proxmox-http-1+body-dev (>= 1.0.3-~~) <!nocheck>,
 librust-proxmox-http-1+default-dev (>= 1.0.3-~~) <!nocheck>,
 librust-proxmox-lang-1+default-dev (>= 1.5-~~) <!nocheck>,
 librust-proxmox-log-1+default-dev <!nocheck>,
 librust-proxmox-router-3+default-dev (>= 3.2.2-~~) <!nocheck>,
 librust-proxmox-schema-5+api-macro-dev (>= 5.0.1-~~) <!nocheck>,
 librust-proxmox-schema-5+default-dev (>= 5.0.1-~~) <!nocheck>,
 librust-proxmox-schema-5+upid-api-impl-dev (>= 5.0.1-~~) <!nocheck>,
 librust-proxmox-sys-1+default-dev <!nocheck>,
 librust-proxmox-sys-1+logrotate-dev <!nocheck>,
 librust-proxmox-sys-1+timer-dev <!nocheck>,
 librust-proxmox-time-2+default-dev (>= 2.1.0-~~) <!nocheck>,
 librust-proxmox-worker-task-1+default-dev <!nocheck>,
 librust-regex-1+default-dev (>= 1.5-~~) <!nocheck>,
 librust-serde-1+default-dev <!nocheck>,
 librust-serde-1+derive-dev <!nocheck>,
 librust-serde-json-1+default-dev <!nocheck>,
 librust-tokio-1+default-dev (>= 1.6-~~) <!nocheck>,
 librust-tokio-1+macros-dev (>= 1.6-~~) <!nocheck>,
 librust-tokio-1+process-dev (>= 1.6-~~) <!nocheck>,
 librust-tokio-1+signal-dev (>= 1.6-~~) <!nocheck>,
 librust-tokio-openssl-0.6+default-dev (>= 0.6.1-~~) <!nocheck>,
 librust-tokio-stream-0.1+default-dev <!nocheck>,
 librust-tower-service-0.3+default-dev <!nocheck>,
 librust-tracing-0.1+default-dev <!nocheck>,
 librust-url-2+default-dev (>= 2.2-~~) <!nocheck>
Maintainer: Proxmox Support Team <support@proxmox.com>
Standards-Version: 4.7.2
Vcs-Git: git://git.proxmox.com/git/proxmox.git
Vcs-Browser: https://git.proxmox.com/?p=proxmox.git
Homepage: https://proxmox.com
X-Cargo-Crate: proxmox-rest-server

Package: librust-proxmox-rest-server-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-anyhow-1+default-dev,
 librust-futures-0.3+default-dev,
 librust-http-1+default-dev,
 librust-http-body-util-0.1+default-dev,
 librust-hyper-1+default-dev,
 librust-hyper-1+full-dev,
 librust-hyper-util-0.1+client-dev (>= 0.1.12-~~),
 librust-hyper-util-0.1+client-legacy-dev (>= 0.1.12-~~),
 librust-hyper-util-0.1+default-dev (>= 0.1.12-~~),
 librust-hyper-util-0.1+http1-dev (>= 0.1.12-~~),
 librust-hyper-util-0.1+server-auto-dev (>= 0.1.12-~~),
 librust-hyper-util-0.1+server-dev (>= 0.1.12-~~),
 librust-hyper-util-0.1+server-graceful-dev (>= 0.1.12-~~),
 librust-hyper-util-0.1+service-dev (>= 0.1.12-~~),
 librust-hyper-util-0.1+tokio-dev (>= 0.1.12-~~),
 librust-libc-0.2+default-dev (>= 0.2.107-~~),
 librust-log-0.4+default-dev (>= 0.4.17-~~),
 librust-nix-0.29+default-dev,
 librust-openssl-0.10+default-dev,
 librust-percent-encoding-2+default-dev (>= 2.1-~~),
 librust-proxmox-async-0.5+default-dev,
 librust-proxmox-compression-1+default-dev,
 librust-proxmox-daemon-1+default-dev,
 librust-proxmox-http-1+body-dev (>= 1.0.3-~~),
 librust-proxmox-http-1+default-dev (>= 1.0.3-~~),
 librust-proxmox-lang-1+default-dev (>= 1.5-~~),
 librust-proxmox-log-1+default-dev,
 librust-proxmox-router-3+default-dev (>= 3.2.2-~~),
 librust-proxmox-schema-5+api-macro-dev (>= 5.0.1-~~),
 librust-proxmox-schema-5+default-dev (>= 5.0.1-~~),
 librust-proxmox-schema-5+upid-api-impl-dev (>= 5.0.1-~~),
 librust-proxmox-sys-1+default-dev,
 librust-proxmox-sys-1+logrotate-dev,
 librust-proxmox-sys-1+timer-dev,
 librust-proxmox-time-2+default-dev (>= 2.1.0-~~),
 librust-proxmox-worker-task-1+default-dev,
 librust-regex-1+default-dev (>= 1.5-~~),
 librust-serde-1+default-dev,
 librust-serde-1+derive-dev,
 librust-serde-json-1+default-dev,
 librust-tokio-1+default-dev (>= 1.6-~~),
 librust-tokio-1+macros-dev (>= 1.6-~~),
 librust-tokio-1+process-dev (>= 1.6-~~),
 librust-tokio-1+signal-dev (>= 1.6-~~),
 librust-tokio-openssl-0.6+default-dev (>= 0.6.1-~~),
 librust-tokio-stream-0.1+default-dev,
 librust-tower-service-0.3+default-dev,
 librust-tracing-0.1+default-dev,
 librust-url-2+default-dev (>= 2.2-~~)
Suggests:
 librust-proxmox-rest-server+rate-limited-stream-dev (= ${binary:Version}),
 librust-proxmox-rest-server+templates-dev (= ${binary:Version})
Provides:
 librust-proxmox-rest-server+default-dev (= ${binary:Version}),
 librust-proxmox-rest-server-1-dev (= ${binary:Version}),
 librust-proxmox-rest-server-1+default-dev (= ${binary:Version}),
 librust-proxmox-rest-server-1.0-dev (= ${binary:Version}),
 librust-proxmox-rest-server-1.0+default-dev (= ${binary:Version}),
 librust-proxmox-rest-server-1.0.2-dev (= ${binary:Version}),
 librust-proxmox-rest-server-1.0.2+default-dev (= ${binary:Version})
Description: REST server implementation - Rust source code
 Source code for Debianized Rust crate "proxmox-rest-server"

Package: librust-proxmox-rest-server+rate-limited-stream-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-proxmox-rest-server-dev (= ${binary:Version}),
 librust-proxmox-http-1+body-dev (>= 1.0.3-~~),
 librust-proxmox-http-1+rate-limited-stream-dev (>= 1.0.3-~~),
 librust-proxmox-rate-limiter-1+default-dev,
 librust-proxmox-rate-limiter-1+shared-rate-limiter-dev
Provides:
 librust-proxmox-rest-server-1+rate-limited-stream-dev (= ${binary:Version}),
 librust-proxmox-rest-server-1.0+rate-limited-stream-dev (= ${binary:Version}),
 librust-proxmox-rest-server-1.0.2+rate-limited-stream-dev (= ${binary:Version})
Description: REST server implementation - feature "rate-limited-stream"
 This metapackage enables feature "rate-limited-stream" for the Rust proxmox-
 rest-server crate, by pulling in any additional dependencies needed by that
 feature.

Package: librust-proxmox-rest-server+templates-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-proxmox-rest-server-dev (= ${binary:Version}),
 librust-handlebars-5+default-dev
Provides:
 librust-proxmox-rest-server-1+templates-dev (= ${binary:Version}),
 librust-proxmox-rest-server-1.0+templates-dev (= ${binary:Version}),
 librust-proxmox-rest-server-1.0.2+templates-dev (= ${binary:Version})
Description: REST server implementation - feature "templates"
 This metapackage enables feature "templates" for the Rust proxmox-rest-server
 crate, by pulling in any additional dependencies needed by that feature.
