Source: rust-proxmox-metrics
Section: rust
Priority: optional
Build-Depends: debhelper (>= 12),
 dh-cargo (>= 25),
 cargo:native <!nocheck>,
 rustc:native <!nocheck>,
 libstd-rust-dev <!nocheck>,
 librust-anyhow-1+default-dev <!nocheck>,
 librust-futures-0.3+default-dev <!nocheck>,
 librust-http-0.2+default-dev <!nocheck>,
 librust-hyper-0.14+default-dev (>= 0.14.5-~~) <!nocheck>,
 librust-openssl-0.10+default-dev <!nocheck>,
 librust-proxmox-async-0.4+default-dev <!nocheck>,
 librust-proxmox-http-0.7+client-dev <!nocheck>,
 librust-proxmox-http-0.7+default-dev <!nocheck>,
 librust-serde-1+default-dev <!nocheck>,
 librust-serde-json-1+default-dev <!nocheck>,
 librust-tokio-1+default-dev (>= 1.6-~~) <!nocheck>,
 librust-tokio-1+net-dev (>= 1.6-~~) <!nocheck>,
 librust-tokio-1+sync-dev (>= 1.6-~~) <!nocheck>
Maintainer: Proxmox Support Team <support@proxmox.com>
Standards-Version: 4.6.1
Vcs-Git: git://git.proxmox.com/git/proxmox.git
Vcs-Browser: https://git.proxmox.com/?p=proxmox.git
X-Cargo-Crate: proxmox-metrics
Rules-Requires-Root: no

Package: librust-proxmox-metrics-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-anyhow-1+default-dev,
 librust-futures-0.3+default-dev,
 librust-http-0.2+default-dev,
 librust-hyper-0.14+default-dev (>= 0.14.5-~~),
 librust-openssl-0.10+default-dev,
 librust-proxmox-async-0.4+default-dev,
 librust-proxmox-http-0.7+client-dev,
 librust-proxmox-http-0.7+default-dev,
 librust-serde-1+default-dev,
 librust-serde-json-1+default-dev,
 librust-tokio-1+default-dev (>= 1.6-~~),
 librust-tokio-1+net-dev (>= 1.6-~~),
 librust-tokio-1+sync-dev (>= 1.6-~~)
Provides:
 librust-proxmox-metrics+default-dev (= ${binary:Version}),
 librust-proxmox-metrics-0-dev (= ${binary:Version}),
 librust-proxmox-metrics-0+default-dev (= ${binary:Version}),
 librust-proxmox-metrics-0.2-dev (= ${binary:Version}),
 librust-proxmox-metrics-0.2+default-dev (= ${binary:Version}),
 librust-proxmox-metrics-0.2.1-dev (= ${binary:Version}),
 librust-proxmox-metrics-0.2.1+default-dev (= ${binary:Version})
Description: Metrics Server export utilitites - Rust source code
 This package contains the source for the Rust proxmox-metrics crate, packaged
 by debcargo for use with cargo and dh-cargo.
