Source: rust-proxmox-sys
Section: rust
Priority: optional
Build-Depends: debhelper (>= 12),
 dh-cargo (>= 24),
 cargo:native <!nocheck>,
 rustc:native <!nocheck>,
 libstd-rust-dev <!nocheck>,
 librust-anyhow-1+default-dev <!nocheck>,
 librust-base64-0.13+default-dev <!nocheck>,
 librust-libc-0.2+default-dev (>= 0.2.107-~~) <!nocheck>,
 librust-log-0.4+default-dev <!nocheck>,
 librust-nix-0.19+default-dev (>= 0.19.1-~~) <!nocheck>,
 librust-proxmox-0.15-dev <!nocheck>,
 librust-zstd-0.6+bindgen-dev <!nocheck>,
 librust-zstd-0.6+default-dev <!nocheck>,
 uuid-dev <!nocheck>
Maintainer: Proxmox Support Team <support@proxmox.com>
Standards-Version: 4.5.1
Vcs-Git: git://git.proxmox.com/git/proxmox.git
Vcs-Browser: https://git.proxmox.com/?p=proxmox.git
Rules-Requires-Root: no

Package: librust-proxmox-sys-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-anyhow-1+default-dev,
 librust-base64-0.13+default-dev,
 librust-libc-0.2+default-dev (>= 0.2.107-~~),
 librust-log-0.4+default-dev,
 librust-nix-0.19+default-dev (>= 0.19.1-~~),
 librust-proxmox-0.15-dev,
 librust-zstd-0.6+bindgen-dev,
 librust-zstd-0.6+default-dev,
 uuid-dev
Provides:
 librust-proxmox-sys+default-dev (= ${binary:Version}),
 librust-proxmox-sys-0-dev (= ${binary:Version}),
 librust-proxmox-sys-0+default-dev (= ${binary:Version}),
 librust-proxmox-sys-0.1-dev (= ${binary:Version}),
 librust-proxmox-sys-0.1+default-dev (= ${binary:Version}),
 librust-proxmox-sys-0.1.2-dev (= ${binary:Version}),
 librust-proxmox-sys-0.1.2+default-dev (= ${binary:Version})
Description: System tools (using nix) - Rust source code
 This package contains the source for the Rust proxmox-sys crate, packaged by
 debcargo for use with cargo and dh-cargo.
