Source: rust-proxmox-sys
Section: rust
Priority: optional
Build-Depends: debhelper-compat (= 13),
 dh-sequence-cargo
Build-Depends-Arch: cargo:native <!nocheck>,
 rustc:native (>= 1.82) <!nocheck>,
 libstd-rust-dev <!nocheck>,
 librust-anyhow-1+default-dev <!nocheck>,
 librust-libc-0.2+default-dev (>= 0.2.107-~~) <!nocheck>,
 librust-log-0.4+default-dev (>= 0.4.17-~~) <!nocheck>,
 librust-nix-0.29+default-dev <!nocheck>,
 librust-nix-0.29+dir-dev <!nocheck>,
 librust-nix-0.29+fs-dev <!nocheck>,
 librust-nix-0.29+ioctl-dev <!nocheck>,
 librust-nix-0.29+mman-dev <!nocheck>,
 librust-nix-0.29+net-dev <!nocheck>,
 librust-nix-0.29+process-dev <!nocheck>,
 librust-nix-0.29+signal-dev <!nocheck>,
 librust-nix-0.29+socket-dev <!nocheck>,
 librust-nix-0.29+user-dev <!nocheck>,
 librust-proxmox-io-1+default-dev (>= 1.2.0-~~) <!nocheck>,
 librust-proxmox-lang-1+default-dev (>= 1.5-~~) <!nocheck>,
 librust-regex-1+default-dev (>= 1.5-~~) <!nocheck>,
 librust-serde-1+default-dev <!nocheck>,
 librust-serde-1+derive-dev <!nocheck>,
 librust-serde-json-1+default-dev <!nocheck>,
 libacl1-dev <!nocheck>,
 uuid-dev <!nocheck>
Maintainer: Proxmox Support Team <support@proxmox.com>
Standards-Version: 4.7.2
Vcs-Git: git://git.proxmox.com/git/proxmox.git
Vcs-Browser: https://git.proxmox.com/?p=proxmox.git
Homepage: https://proxmox.com
X-Cargo-Crate: proxmox-sys

Package: librust-proxmox-sys-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-anyhow-1+default-dev,
 librust-libc-0.2+default-dev (>= 0.2.107-~~),
 librust-log-0.4+default-dev (>= 0.4.17-~~),
 librust-nix-0.29+default-dev,
 librust-nix-0.29+dir-dev,
 librust-nix-0.29+fs-dev,
 librust-nix-0.29+ioctl-dev,
 librust-nix-0.29+mman-dev,
 librust-nix-0.29+net-dev,
 librust-nix-0.29+process-dev,
 librust-nix-0.29+signal-dev,
 librust-nix-0.29+socket-dev,
 librust-nix-0.29+user-dev,
 librust-proxmox-io-1+default-dev (>= 1.2.0-~~),
 librust-proxmox-lang-1+default-dev (>= 1.5-~~),
 librust-regex-1+default-dev (>= 1.5-~~),
 librust-serde-1+default-dev,
 librust-serde-1+derive-dev,
 librust-serde-json-1+default-dev,
 libacl1-dev,
 uuid-dev
Suggests:
 librust-proxmox-sys+crypt-dev (= ${binary:Version}),
 librust-proxmox-sys+logrotate-dev (= ${binary:Version})
Provides:
 librust-proxmox-sys+acl-dev (= ${binary:Version}),
 librust-proxmox-sys+default-dev (= ${binary:Version}),
 librust-proxmox-sys+timer-dev (= ${binary:Version}),
 librust-proxmox-sys-1-dev (= ${binary:Version}),
 librust-proxmox-sys-1+acl-dev (= ${binary:Version}),
 librust-proxmox-sys-1+default-dev (= ${binary:Version}),
 librust-proxmox-sys-1+timer-dev (= ${binary:Version}),
 librust-proxmox-sys-1.0-dev (= ${binary:Version}),
 librust-proxmox-sys-1.0+acl-dev (= ${binary:Version}),
 librust-proxmox-sys-1.0+default-dev (= ${binary:Version}),
 librust-proxmox-sys-1.0+timer-dev (= ${binary:Version}),
 librust-proxmox-sys-1.0.0-dev (= ${binary:Version}),
 librust-proxmox-sys-1.0.0+acl-dev (= ${binary:Version}),
 librust-proxmox-sys-1.0.0+default-dev (= ${binary:Version}),
 librust-proxmox-sys-1.0.0+timer-dev (= ${binary:Version})
Description: System tools (using nix) - Rust source code
 Source code for Debianized Rust crate "proxmox-sys"

Package: librust-proxmox-sys+crypt-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-proxmox-sys-dev (= ${binary:Version}),
 librust-openssl-0.10+default-dev
Provides:
 librust-proxmox-sys-1+crypt-dev (= ${binary:Version}),
 librust-proxmox-sys-1.0+crypt-dev (= ${binary:Version}),
 librust-proxmox-sys-1.0.0+crypt-dev (= ${binary:Version})
Description: System tools (using nix) - feature "crypt"
 This metapackage enables feature "crypt" for the Rust proxmox-sys crate, by
 pulling in any additional dependencies needed by that feature.

Package: librust-proxmox-sys+logrotate-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-proxmox-sys-dev (= ${binary:Version}),
 librust-zstd-0.13+default-dev
Provides:
 librust-proxmox-sys-1+logrotate-dev (= ${binary:Version}),
 librust-proxmox-sys-1.0+logrotate-dev (= ${binary:Version}),
 librust-proxmox-sys-1.0.0+logrotate-dev (= ${binary:Version})
Description: System tools (using nix) - feature "logrotate"
 This metapackage enables feature "logrotate" for the Rust proxmox-sys crate, by
 pulling in any additional dependencies needed by that feature.
