Source: rust-proxmox-sys
Section: rust
Priority: optional
Build-Depends: debhelper (>= 12),
 dh-cargo (>= 21~),
 cargo:native <!nocheck>,
 rustc:native <!nocheck>,
 libstd-rust-dev <!nocheck>,
 librust-failure-0.1+default-dev <!nocheck>,
 librust-lazy-static-1.4+default-dev <!nocheck>,
 librust-libc-0.2+default-dev <!nocheck>,
 librust-nix-0.16+default-dev <!nocheck>,
 librust-proxmox-tools-0.1.1+default-dev <!nocheck>,
Maintainer: Proxmox Support Team <support@proxmox.com>
Standards-Version: 4.4.1

Package: librust-proxmox-sys-dev
Architecture: any
Depends:
 ${misc:Depends},
 librust-failure-0.1+default-dev,
 librust-lazy-static-1.4+default-dev,
 librust-libc-0.2+default-dev,
 librust-nix-0.16+default-dev,
 librust-proxmox-tools-0.1.1+default-dev,
Provides:
 librust-proxmox-sys+default-dev (= ${binary:Version}),
 librust-proxmox-sys-0-dev (= ${binary:Version}),
 librust-proxmox-sys-0+default-dev (= ${binary:Version}),
 librust-proxmox-sys-0.1-dev (= ${binary:Version}),
 librust-proxmox-sys-0.1+default-dev (= ${binary:Version}),
 librust-proxmox-sys-0.1.1-dev (= ${binary:Version}),
 librust-proxmox-sys-0.1.1+default-dev (= ${binary:Version}),
Description: Proxmox system library - Rust source code
 This package contains the source for the Rust proxmox-sys crate.
