[package]
name = "proxmox-sendmail"
version = "1.0.1"
authors.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true
homepage.workspace = true
exclude.workspace = true
rust-version.workspace = true

[dependencies]
anyhow = { workspace = true }
percent-encoding = { workspace = true }

proxmox-base64 = { workspace = true }
proxmox-time = { workspace = true }

[features]
default = []
mail-forwarder = []
