Source: rust-proxmox-installer-types
Section: rust
Priority: optional
Build-Depends: debhelper-compat (= 13),
 dh-sequence-cargo
Build-Depends-Arch: cargo:native <!nocheck>,
 rustc:native (>= 1.85) <!nocheck>,
 libstd-rust-dev <!nocheck>,
 librust-anyhow-1+default-dev <!nocheck>,
 librust-proxmox-network-types-1+default-dev (>= 1.0.2-~~) <!nocheck>,
 librust-proxmox-node-status-1+default-dev <!nocheck>,
 librust-serde-1+default-dev <!nocheck>,
 librust-serde-1+derive-dev <!nocheck>,
 librust-serde-plain-1+default-dev <!nocheck>
Maintainer: Proxmox Support Team <support@proxmox.com>
Standards-Version: 4.7.2
Vcs-Git: git://git.proxmox.com/git/proxmox.git
Vcs-Browser: https://git.proxmox.com/?p=proxmox.git
Homepage: https://proxmox.com
X-Cargo-Crate: proxmox-installer-types

Package: librust-proxmox-installer-types-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-anyhow-1+default-dev,
 librust-proxmox-network-types-1+default-dev (>= 1.0.2-~~),
 librust-proxmox-node-status-1+default-dev,
 librust-serde-1+default-dev,
 librust-serde-1+derive-dev,
 librust-serde-plain-1+default-dev
Provides:
 librust-proxmox-installer-types+default-dev (= ${binary:Version}),
 librust-proxmox-installer-types+legacy-dev (= ${binary:Version}),
 librust-proxmox-installer-types-0-dev (= ${binary:Version}),
 librust-proxmox-installer-types-0+default-dev (= ${binary:Version}),
 librust-proxmox-installer-types-0+legacy-dev (= ${binary:Version}),
 librust-proxmox-installer-types-0.1-dev (= ${binary:Version}),
 librust-proxmox-installer-types-0.1+default-dev (= ${binary:Version}),
 librust-proxmox-installer-types-0.1+legacy-dev (= ${binary:Version}),
 librust-proxmox-installer-types-0.1.0-dev (= ${binary:Version}),
 librust-proxmox-installer-types-0.1.0+default-dev (= ${binary:Version}),
 librust-proxmox-installer-types-0.1.0+legacy-dev (= ${binary:Version})
Description: Type definitions used within the installer - Rust source code
 Source code for Debianized Rust crate "proxmox-installer-types"
