[package]
name = "proxmox-rrd"
description = "Simple RRD database implementation."
version = "1.0.2"

authors.workspace = true
edition.workspace = true
exclude.workspace = true
homepage.workspace = true
license.workspace = true
repository.workspace = true

[dev-dependencies]
proxmox-router = { workspace = true, features = ["cli", "server"] }

[dependencies]
anyhow.workspace = true
bitflags.workspace = true
crossbeam-channel.workspace = true
log.workspace = true
nix.workspace = true
serde = { workspace = true, features = ["derive"] }
serde_cbor.workspace = true
serde_json.workspace = true
serde_plain.workspace = true

proxmox-schema = { workspace = true, features = [ "api-macro" ] }
proxmox-sys.workspace = true
proxmox-time.workspace = true

[features]
default = [ "rrd_v1" ]
rrd_v1 = []
