Source: rust-proxmox-section-config
Section: rust
Priority: optional
Build-Depends: debhelper-compat (= 13),
 dh-sequence-cargo
Build-Depends-Arch: cargo:native <!nocheck>,
 rustc:native <!nocheck>,
 libstd-rust-dev <!nocheck>,
 librust-anyhow-1+default-dev <!nocheck>,
 librust-hex-0.4+default-dev <!nocheck>,
 librust-proxmox-lang-1+default-dev (>= 1.5-~~) <!nocheck>,
 librust-proxmox-schema-5+default-dev <!nocheck>,
 librust-serde-1+default-dev <!nocheck>,
 librust-serde-json-1+default-dev <!nocheck>
Maintainer: Proxmox Support Team <support@proxmox.com>
Standards-Version: 4.7.0
Vcs-Git: git://git.proxmox.com/git/proxmox.git
Vcs-Browser: https://git.proxmox.com/?p=proxmox.git
Homepage: https://proxmox.com
X-Cargo-Crate: proxmox-section-config
Rules-Requires-Root: no

Package: librust-proxmox-section-config-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-anyhow-1+default-dev,
 librust-hex-0.4+default-dev,
 librust-proxmox-lang-1+default-dev (>= 1.5-~~),
 librust-proxmox-schema-5+default-dev,
 librust-serde-1+default-dev,
 librust-serde-json-1+default-dev
Provides:
 librust-proxmox-section-config+default-dev (= ${binary:Version}),
 librust-proxmox-section-config-3-dev (= ${binary:Version}),
 librust-proxmox-section-config-3+default-dev (= ${binary:Version}),
 librust-proxmox-section-config-3.1-dev (= ${binary:Version}),
 librust-proxmox-section-config-3.1+default-dev (= ${binary:Version}),
 librust-proxmox-section-config-3.1.1-dev (= ${binary:Version}),
 librust-proxmox-section-config-3.1.1+default-dev (= ${binary:Version})
Description: Proxmox schema based section config format parsing - Rust source code
 Source code for Debianized Rust crate "proxmox-section-config"
