Source: rust-proxmox-router
Section: rust
Priority: optional
Build-Depends: debhelper (>= 12),
 dh-cargo (>= 25),
 cargo:native <!nocheck>,
 rustc:native <!nocheck>,
 libstd-rust-dev <!nocheck>,
 librust-anyhow-1+default-dev <!nocheck>,
 librust-http-0.2+default-dev <!nocheck>,
 librust-hyper-0.14+default-dev <!nocheck>,
 librust-hyper-0.14+full-dev <!nocheck>,
 librust-libc-0.2+default-dev <!nocheck>,
 librust-nix-0.19+default-dev (>= 0.19.1-~~) <!nocheck>,
 librust-percent-encoding-2+default-dev (>= 2.1-~~) <!nocheck>,
 librust-proxmox-lang-1+default-dev <!nocheck>,
 librust-proxmox-schema-1+default-dev <!nocheck>,
 librust-rustyline-7+default-dev <!nocheck>,
 librust-serde-json-1+default-dev <!nocheck>,
 librust-tokio-1+default-dev <!nocheck>,
 librust-unicode-width-0.1+default-dev (>= 0.1.8-~~) <!nocheck>
Maintainer: Proxmox Support Team <support@proxmox.com>
Standards-Version: 4.5.1
Vcs-Git: git://git.proxmox.com/git/proxmox.git
Vcs-Browser: https://git.proxmox.com/?p=proxmox.git
Rules-Requires-Root: no

Package: librust-proxmox-router-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-anyhow-1+default-dev,
 librust-http-0.2+default-dev,
 librust-hyper-0.14+default-dev,
 librust-hyper-0.14+full-dev,
 librust-nix-0.19+default-dev (>= 0.19.1-~~),
 librust-percent-encoding-2+default-dev (>= 2.1-~~),
 librust-proxmox-lang-1+default-dev,
 librust-proxmox-schema-1+default-dev,
 librust-serde-json-1+default-dev,
 librust-unicode-width-0.1+default-dev (>= 0.1.8-~~)
Recommends:
 librust-proxmox-router+cli-dev (= ${binary:Version})
Suggests:
 librust-proxmox-router+libc-dev (= ${binary:Version}),
 librust-proxmox-router+rustyline-dev (= ${binary:Version}),
 librust-proxmox-router+test-harness-dev (= ${binary:Version}),
 librust-proxmox-router+tokio-dev (= ${binary:Version})
Provides:
 librust-proxmox-router-1-dev (= ${binary:Version}),
 librust-proxmox-router-1.1-dev (= ${binary:Version}),
 librust-proxmox-router-1.1.1-dev (= ${binary:Version})
Description: Proxmox API Router and CLI utilities - Rust source code
 This package contains the source for the Rust proxmox-router crate, packaged by
 debcargo for use with cargo and dh-cargo.

Package: librust-proxmox-router+cli-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-proxmox-router-dev (= ${binary:Version}),
 librust-proxmox-router+libc-dev (= ${binary:Version}),
 librust-proxmox-router+rustyline-dev (= ${binary:Version}),
 librust-proxmox-router+tokio-dev (= ${binary:Version})
Provides:
 librust-proxmox-router+default-dev (= ${binary:Version}),
 librust-proxmox-router-1+cli-dev (= ${binary:Version}),
 librust-proxmox-router-1+default-dev (= ${binary:Version}),
 librust-proxmox-router-1.1+cli-dev (= ${binary:Version}),
 librust-proxmox-router-1.1+default-dev (= ${binary:Version}),
 librust-proxmox-router-1.1.1+cli-dev (= ${binary:Version}),
 librust-proxmox-router-1.1.1+default-dev (= ${binary:Version})
Description: Proxmox API Router and CLI utilities - feature "cli" and 1 more
 This metapackage enables feature "cli" for the Rust proxmox-router crate, by
 pulling in any additional dependencies needed by that feature.
 .
 Additionally, this package also provides the "default" feature.

Package: librust-proxmox-router+libc-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-proxmox-router-dev (= ${binary:Version}),
 librust-libc-0.2+default-dev
Provides:
 librust-proxmox-router-1+libc-dev (= ${binary:Version}),
 librust-proxmox-router-1.1+libc-dev (= ${binary:Version}),
 librust-proxmox-router-1.1.1+libc-dev (= ${binary:Version})
Description: Proxmox API Router and CLI utilities - feature "libc"
 This metapackage enables feature "libc" for the Rust proxmox-router crate, by
 pulling in any additional dependencies needed by that feature.

Package: librust-proxmox-router+rustyline-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-proxmox-router-dev (= ${binary:Version}),
 librust-rustyline-7+default-dev
Provides:
 librust-proxmox-router-1+rustyline-dev (= ${binary:Version}),
 librust-proxmox-router-1.1+rustyline-dev (= ${binary:Version}),
 librust-proxmox-router-1.1.1+rustyline-dev (= ${binary:Version})
Description: Proxmox API Router and CLI utilities - feature "rustyline"
 This metapackage enables feature "rustyline" for the Rust proxmox-router crate,
 by pulling in any additional dependencies needed by that feature.

Package: librust-proxmox-router+test-harness-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-proxmox-router-dev (= ${binary:Version}),
 librust-proxmox-schema-1+test-harness-dev
Provides:
 librust-proxmox-router-1+test-harness-dev (= ${binary:Version}),
 librust-proxmox-router-1.1+test-harness-dev (= ${binary:Version}),
 librust-proxmox-router-1.1.1+test-harness-dev (= ${binary:Version})
Description: Proxmox API Router and CLI utilities - feature "test-harness"
 This metapackage enables feature "test-harness" for the Rust proxmox-router
 crate, by pulling in any additional dependencies needed by that feature.

Package: librust-proxmox-router+tokio-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-proxmox-router-dev (= ${binary:Version}),
 librust-tokio-1+default-dev
Provides:
 librust-proxmox-router-1+tokio-dev (= ${binary:Version}),
 librust-proxmox-router-1.1+tokio-dev (= ${binary:Version}),
 librust-proxmox-router-1.1.1+tokio-dev (= ${binary:Version})
Description: Proxmox API Router and CLI utilities - feature "tokio"
 This metapackage enables feature "tokio" for the Rust proxmox-router crate, by
 pulling in any additional dependencies needed by that feature.
