[package]
name = "proxmox-rest-server"
description = "REST server implementation"
version = "1.0.3"

authors.workspace = true
edition.workspace = true
exclude.workspace = true
homepage.workspace = true
license.workspace = true
repository.workspace = true
rust-version.workspace = true

[dev-dependencies]
proxmox-schema = { workspace = true, features = [ "api-macro" ] }
tokio = { workspace = true, features = [ "rt-multi-thread", "signal", "process" ] }

[dependencies]
anyhow.workspace = true
futures.workspace = true
handlebars = { workspace = true, optional = true }
http.workspace = true
http-body-util.workspace = true
hyper = { workspace = true, features = [ "full" ] }
hyper-util = { workspace = true, features = [ "client", "client-legacy", "http1", "server", "server-auto", "server-graceful", "service", "tokio" ]}
libc.workspace = true
log.workspace = true
nix.workspace = true
openssl.workspace = true
percent-encoding.workspace = true
regex.workspace = true
serde = { workspace = true, features = [ "derive" ] }
serde_json.workspace = true
tokio = { workspace = true, features = ["macros", "signal", "process"] }
tokio-openssl.workspace = true
tokio-stream.workspace = true
tracing.workspace = true
tower-service.workspace = true
url.workspace = true

proxmox-async.workspace = true
proxmox-compression.workspace = true
proxmox-daemon.workspace = true
proxmox-http = { workspace = true, features = ["body"] }
proxmox-lang.workspace = true
proxmox-log.workspace = true
proxmox-rate-limiter = { workspace = true, optional = true, features = [ "shared-rate-limiter" ] }
proxmox-router.workspace = true
proxmox-schema = { workspace = true, features = [ "api-macro", "upid-api-impl" ] }
proxmox-sys = { workspace = true, features = [ "logrotate", "timer" ] }
proxmox-time.workspace = true
proxmox-worker-task.workspace = true

[features]
default = []
templates = ["dep:handlebars"]
rate-limited-stream = [
    "dep:proxmox-rate-limiter",
    "proxmox-http/rate-limited-stream",
]
