Source: rust-proxmox
Section: rust
Priority: optional
Build-Depends: debhelper (>= 12),
 dh-cargo (>= 21~),
 cargo:native <!nocheck>,
 rustc:native <!nocheck>,
 libstd-rust-dev <!nocheck>,
 librust-proxmox-api-0.1.1-dev <!nocheck>,
 librust-proxmox-api-macro-0.1.1+default-dev <!nocheck>,
 librust-proxmox-sys-0.1.1+default-dev <!nocheck>,
 librust-proxmox-tools-0.1.1+default-dev <!nocheck>,
 librust-proxmox-sortable-macro-0.1.0+default-dev <!nocheck>,
Maintainer: Proxmox Support Team <support@proxmox.com>
Standards-Version: 4.4.1

# note: could be split up feature-wise if desired
Package: librust-proxmox-dev
Architecture: any
Depends:
 ${misc:Depends},
 librust-proxmox-api-0.1.1+cli-dev,
 librust-proxmox-api-0.1.1+router-dev,
 librust-proxmox-api-macro-0.1.1+default-dev,
 librust-proxmox-sys-0.1.1+default-dev,
 librust-proxmox-tools-0.1.1+default-dev,
 librust-proxmox-sortable-macro-0.1.0+default-dev,
Provides:
 librust-proxmox+default-dev (= ${binary:Version}),
 librust-proxmox-0-dev (= ${binary:Version}),
 librust-proxmox-0+default-dev (= ${binary:Version}),
 librust-proxmox-0.1-dev (= ${binary:Version}),
 librust-proxmox-0.1+default-dev (= ${binary:Version}),
 librust-proxmox-0.1.2-dev (= ${binary:Version}),
 librust-proxmox-0.1.2+default-dev (= ${binary:Version}),
 librust-proxmox+api-macro-dev (= ${binary:Version}),
 librust-proxmox-0+api-macro-dev (= ${binary:Version}),
 librust-proxmox-0.1+api-macro-dev (= ${binary:Version}),
 librust-proxmox-0.1.2+api-macro-dev (= ${binary:Version}),
 librust-proxmox+cli-dev (= ${binary:Version}),
 librust-proxmox-0+cli-dev (= ${binary:Version}),
 librust-proxmox-0.1+cli-dev (= ${binary:Version}),
 librust-proxmox-0.1.2+cli-dev (= ${binary:Version}),
 librust-proxmox+router-dev (= ${binary:Version}),
 librust-proxmox-0+router-dev (= ${binary:Version}),
 librust-proxmox-0.1+router-dev (= ${binary:Version}),
 librust-proxmox-0.1.2+router-dev (= ${binary:Version}),
 librust-proxmox+sortable-macro-dev (= ${binary:Version}),
 librust-proxmox-0+sortable-macro-dev (= ${binary:Version}),
 librust-proxmox-0.1+sortable-macro-dev (= ${binary:Version}),
 librust-proxmox-0.1.2+sortable-macro-dev (= ${binary:Version}),
Description: Proxmox library - Rust source code
 This package contains the source for the Rust proxmox crate.

# valgrind feature ignored - see proxmox-tools
