Source: rust-proxmox-wireguard
Section: rust
Priority: optional
Build-Depends: debhelper-compat (= 13),
 dh-sequence-cargo
Build-Depends-Arch: cargo:native <!nocheck>,
 rustc:native (>= 1.85) <!nocheck>,
 libstd-rust-dev <!nocheck>,
 librust-ed25519-dalek-2+default-dev (>= 2.1-~~) <!nocheck>,
 librust-proxmox-ini-0.1+default-dev <!nocheck>,
 librust-proxmox-network-types-1+default-dev <!nocheck>,
 librust-proxmox-serde-1+default-dev <!nocheck>,
 librust-proxmox-serde-1+serde-json-dev <!nocheck>,
 librust-proxmox-sys-1+default-dev (>= 1.0.1-~~) <!nocheck>,
 librust-serde-1+default-dev <!nocheck>,
 librust-serde-1+derive-dev <!nocheck>,
 librust-thiserror-2+default-dev <!nocheck>
Maintainer: Proxmox Support Team <support@proxmox.com>
Standards-Version: 4.7.2
Vcs-Git: git://git.proxmox.com/git/proxmox.git
Vcs-Browser: https://git.proxmox.com/?p=proxmox.git
Homepage: https://proxmox.com
X-Cargo-Crate: proxmox-wireguard

Package: librust-proxmox-wireguard-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-ed25519-dalek-2+default-dev (>= 2.1-~~),
 librust-proxmox-ini-0.1+default-dev,
 librust-proxmox-network-types-1+default-dev,
 librust-proxmox-serde-1+default-dev,
 librust-proxmox-serde-1+serde-json-dev,
 librust-serde-1+default-dev,
 librust-serde-1+derive-dev,
 librust-thiserror-2+default-dev
Recommends:
 librust-proxmox-wireguard+key-generation-dev (= ${binary:Version})
Provides:
 librust-proxmox-wireguard-0-dev (= ${binary:Version}),
 librust-proxmox-wireguard-0.1-dev (= ${binary:Version}),
 librust-proxmox-wireguard-0.1.0-dev (= ${binary:Version})
Description: WireGuard configuration support - Rust source code
 Source code for Debianized Rust crate "proxmox-wireguard"

Package: librust-proxmox-wireguard+key-generation-dev
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 librust-proxmox-wireguard-dev (= ${binary:Version}),
 librust-proxmox-sys-1+default-dev (>= 1.0.1-~~)
Provides:
 librust-proxmox-wireguard+default-dev (= ${binary:Version}),
 librust-proxmox-wireguard-0+key-generation-dev (= ${binary:Version}),
 librust-proxmox-wireguard-0+default-dev (= ${binary:Version}),
 librust-proxmox-wireguard-0.1+key-generation-dev (= ${binary:Version}),
 librust-proxmox-wireguard-0.1+default-dev (= ${binary:Version}),
 librust-proxmox-wireguard-0.1.0+key-generation-dev (= ${binary:Version}),
 librust-proxmox-wireguard-0.1.0+default-dev (= ${binary:Version})
Description: WireGuard configuration support - feature "key-generation" and 1 more
 This metapackage enables feature "key-generation" for the Rust proxmox-
 wireguard crate, by pulling in any additional dependencies needed by that
 feature.
 .
 Additionally, this package also provides the "default" feature.
