[package]
name = "proxmox-s3-client"
description = "low level REST API client for AWS S3 compatible object stores"
version = "1.2.4"

authors.workspace = true
edition.workspace = true
exclude.workspace = true
homepage.workspace = true
license.workspace = true
repository.workspace = true
rust-version.workspace = true

[dependencies]
anyhow.workspace = true
bytes = { workspace = true, optional = true }
futures = { workspace = true, optional = true }
const_format.workspace = true
hex = { workspace = true, features = [ "serde" ], optional = true }
http-body-util = { workspace = true, optional = true }
hyper-util = { workspace = true, features = [ "client-legacy", "tokio", "http1" ], optional = true }
hyper = { workspace = true, optional = true }
iso8601 = { workspace = true, optional = true }
md5 = { workspace = true, optional = true }
nix = { workspace = true, optional = true }
openssl = { workspace = true, optional = true }
quick-xml = { workspace = true, features = [ "async-tokio" ], optional = true }
regex.workspace = true
serde.workspace = true
serde_plain.workspace = true
serde-xml-rs = { workspace = true, optional = true }
tokio = { workspace = true, optional = true }
tokio-util = { workspace = true, features = [ "compat" ], optional = true }
tracing = { workspace = true, optional = true }
url = {workspace = true, optional = true }

proxmox-base64 = { workspace = true, optional = true }
proxmox-http = { workspace = true, features = [ "body", "client", "client-trait" ], optional = true }
proxmox-human-byte.workspace = true
proxmox-rate-limiter = { workspace = true, features = [ "rate-limiter", "shared-rate-limiter" ], optional = true }
proxmox-schema = { workspace = true, features = [ "api-macro", "api-types" ] }
proxmox-serde.workspace = true
proxmox-time = {workspace = true, optional = true }

[features]
default = [ "api-types" ]
api-types = []
impl = [
    "dep:bytes",
    "dep:futures",
    "dep:hex",
    "dep:http-body-util",
    "dep:hyper-util",
    "dep:hyper",
    "dep:iso8601",
    "dep:md5",
    "dep:nix",
    "dep:openssl",
    "dep:quick-xml",
    "dep:serde-xml-rs",
    "dep:tokio",
    "dep:tokio-util",
    "dep:tracing",
    "dep:url",
    "dep:proxmox-base64",
    "dep:proxmox-http",
    "dep:proxmox-rate-limiter",
    "dep:proxmox-time",
]

[[example]]
name = "s3_client"
test = false
