[package]
name = "proxmox-simple-config"
description = "Simple key/value format for configuration files."
version = "1.0.0"

authors.workspace = true
edition.workspace = true
exclude.workspace = true
homepage.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
anyhow.workspace = true
serde_json.workspace = true
serde = { workspace = true, features = ["derive"] }

proxmox-schema = { workspace = true, features = ["api-macro", "api-types"] }
